[2014-01-17 08:27] dre1080 opened #1 "[PostgreSQL] Wrong database information schema in use"
@xiam First off, I'm really liking the simplicity of this package. Thanks!
So, to the problem:

When I open a database connection, I have to call `db.Database.Use` because it always panics with a `Collection does not exists.`.
This is because the check for table existence is happening before the right database is chosen. Calling the `postgresql.Table.Exists` method before this will always look in

[2014-01-22 12:58] #1 closed, assigned to xiam

[2014-02-07 14:38] achun opened #2 "time.Local or time.UTC?"
hi @xiam
I do go test for sqlit got this

[code]

because testValues.Date is

[code]

SQLite3/MySQL/PostgreSQL/MongoDB  do not store the timezone.
so, upper/db use time.UTC will be better.
such as func toInternal

[code]

or all Datetime use time.UTC.

[2014-02-07 16:07] achun opened #3 "db.Open maybe throw panic! maybe return an error better?"
- https://github.com/upper/db/blob/master/db.go#L244

maybe this is better

[code]

db.Open such as

[code]

[2014-02-11 12:21] #3 closed, assigned to nobody

[2014-02-11 12:23] #2 closed, assigned to nobody

[2014-02-25 20:05] xiam opened #4 "Add debug mode"
A debug mode could print query data to stdout.

[2014-02-25 20:08] xiam opened #5 "PostgreSQL adapter does not fail when password is wrong"
When trying to connect to a PostgreSQL database with wrong credentials the adapter does not return an error value.

[2014-03-09 21:11] pzduniak opened #6 "Primary keys in PostgreSQL tables"
First of all, thank you for developing such great library - it really simplified development of my software, because now I don't have to care about weird ORM magic.

The only issue is that whenever I create a new struct with the SERIAL column (ie. primary key) not set, it tries to create a new row with id 0 (because uninitialized int64 is 0). How can I use the `nextval` feature in PostgreSQL appen

[2014-03-19 06:05] anidotnet opened #7 "Not working with MySQL"
Upper is not working with MySQL. [Here](https://gist.github.com/anidotnet/9636189) is the sample code I have used. Go lang version I used is 1.2.1 and I have tried in both Windows 7 64 bit and Ubuntu 13.10 64bit. Upper-mysql is working in neither of them. And [here](https://gist.github.com/anidotnet/9636283) is the MySQL schema I used. Am I doing something wrong here or is it a standing issue?

[2014-04-13 13:55] #7 closed, assigned to nobody

[2014-04-13 13:56] #6 closed, assigned to nobody

[2014-04-14 18:55] xiam opened #9 "Add support for WHERE foo IN (1, 2, 3, ...)"
`upper.io/db` lacks support for statements like:

`SELECT * FROM cool_table WHERE id in (1, 2, 3, 4);`

Or similar NoSQL statements like:

`db.find({_id: {$in: [ 1, 2, 3, 4 ]}})`

[2014-04-14 22:57] #9 closed, assigned to xiam

[2014-04-16 05:12] enisoc opened #10 "Mongo adapter maps '<' to '$gt' rather than '$lt'"
around db/mongo/collection.go, line 90:

[code]

https://github.com/upper/db/blob/master/mongo/collection.go#L90

[2014-04-16 21:03] #10 closed, assigned to xiam

[2014-04-17 03:30] #4 closed, assigned to xiam

[2014-04-17 03:36] xiam opened #11 "Support for Rollback()."
Some databases support rolling back a transaction.

[2014-05-03 17:56] pzduniak opened #12 "Omitempty tag should be merged with field"
`omitempty` flag should be stored in the `field` value (most preferably seperated from the actual name by a comma) in order to not pollute the tag namespace and work the same way as stdlib does.

[2014-05-05 05:44] elsonwu opened #13 "Should use upsert instead of insert then update in mongo adapter"
#Current:

        if err = self.collection.Insert(bson.M{"_id": id}); err != nil {
                return nil, err
        }

        // Now append data the user wants to append.
        if err = self.collection.Update(bson.M{"_id": id}, item); err != nil {
                return nil, err
        }

#Should be:

        if _, err = self.collection.Upsert(bson.M{"_id": id}, item); err != nil {

[2014-05-10 14:30] pzduniak opened #14 "Support for IN()"
In my current project I'm performing deletes on sets of records. Right now I have to use a fork of upper.io/db, which supports the IN() structure, in order to perform such action using a single query. My code isn't really clean and I'd rather not want it to be used publicly (as it's probably bugged with non-standard types). It would be great if someone implemented it in a way similar to the rest o

[2014-05-13 18:15] #14 closed, assigned to nobody

[2014-05-13 19:57] #12 closed, assigned to xiam

[2014-05-13 20:06] xiam opened #15 "Add db.Id interface{} type"
[code]

[2014-05-30 16:12] pzduniak opened #16 "Result from a SQLite database can't be unmarshalled"
[code]

[code]

[code]

[code]

What am I doing incorrectly?

[2014-06-08 23:35] #16 closed, assigned to nobody

[2014-06-08 23:35] #11 closed, assigned to nobody

[2014-06-13 09:42] badoet opened #17 "cant even db.Open"
[code]

this will give me undefined: sess and undefined: err

help?

[2014-06-18 05:57] maxhawkins opened #18 "Typo in Does Not Exist Error"
ErrorCollectionDoesNotExists should be ErrCollectionDoesNotExist.

Exist is a verb not an adjective.

[2014-06-18 17:50] #18 closed, assigned to xiam

[2014-06-18 17:53] #17 closed, assigned to nobody

[2014-06-19 09:08] maxhawkins opened #23 "Support Transaction Rollback"
It would be nice to support transaction rollbacks since transactions are already supported. Is there any reason why Database doesn't have a Rollback() method?

[2014-06-21 05:56] #23 closed, assigned to xiam

[2014-06-21 06:01] maxhawkins opened #24 "Custom PostgreSQL Primary Keys"
I have a PostgreSQL table with a non-standard primary key name. Currently it's not possible to set a custom primary key.

I think it's possible to detect automatically. Here's a query that retrieves the primary key:
https://wiki.postgresql.org/wiki/Retrieve_primary_key_columns

I tried to add it but I don't understand the new sqlgen stuff.

[2014-06-23 19:44] #24 closed, assigned to xiam

[2014-06-25 14:56] xiam opened #25 "Fix QL transactions"

[2014-07-02 19:58] tgrosinger opened #26 "Nullable Fields"
It is currently not possible to determine if a field is null in the database (as far as I have found). Using the built in `sql.NullString` or `sql.NullInt64` result in them always being set to invalid and nil.

[2014-07-09 08:31] omeid opened #27 "Fallback to `json` tag when there is no `db`."
Most of the time you end up marshalling the Go objects into JSON for client side, and almost always the JSON key is exactly the same as the database field, which means your structs end up like this:

[code]

Now, if `upper.io/db` respected `json` tag when there is no `db` tag, the very same code could look a lot cleaner:

[code]

if the concept is acceptable within the design principles of `upper.

[2014-07-16 11:38] xiam opened #29 "MySQL adapter does not correctly map uppercase columns"
Columns with uppercase letters in the name are not being mapped correctly.

[2014-07-20 03:59] tmaiaroto opened #30 "Allow new tables to be created for Ql"
In, https://github.com/upper/db/blob/master/ql/database.go ...
I see a bunch of functions, but I don't see how to actually create a table.

I see how you can append to a table (collection), I see that you can empty it, I see you can drop a database, but I just can't see how you create a table.

Is it currently possible? Thanks.

[2014-07-20 19:07] tmaiaroto opened #31 "Empty documents being inserted into MongoDB"
I'm looping a document at a time (will eventually start batching inserts if I can) and when I do, I'm getting some empty documents in the collection.

I went ahead and checked that the struct was valid before saving and logged the data being saved - there's nothing that's empty. It just randomly inserts empty documents. There's an ObjectId value and nothing else.

I see all the other documents I'v

[2014-07-20 22:27] #31 closed, assigned to nobody

[2014-07-26 00:26] xiam opened #32 "Support for database functions in Sort() method."
For example, to pick one random element from a MySQL database:

[code]

[2014-07-26 20:20] tmaiaroto opened #33 "Can not connect to PostgreSQL"
I get:

[code]

I've passed both postgres.Adapter in as well as string "postgresql" to db.Open() ... I have all the packages too.

[2014-07-26 20:24] #33 closed, assigned to nobody

[2014-07-30 16:45] yookoala opened #34 "Collection.Append expecting first column / key of tables to be numeric"
I recently tried to insert a row into a PostgreSQL table like this:

[code]

My code for the insert operation looks like this:

[code]

I get this error:

[code]

I've checked the database, the item was created successfully. Neither my struct nor the database table uses integer variable. I then slightly changed my table structure:

[code]

The same code works again.

That means either the primary

[2014-07-31 23:30] xiam opened #35 "Add support for Marshal() and Unmarshal()"
This would allow custom datatypes to be saved and retrieved to and from permanent storage.

[2014-08-01 18:19] xiam opened #36 "Support for read-only operations on replicas"
Some databases support replication features. `upper.io/db` should distinguish between write operations (INSERT, UPDATE, DELETE) and direct them to master, read-only operations (SELECT) and direct them to slave[1], slave[2], ..., slave[n].

[2014-08-05 00:37] #26 closed, assigned to xiam

[2014-08-06 22:49] xiam opened #37 "Support for "GROUP BY" SQL clause"
At least on MySQL, SQLite and PostgreSQL.

There is a [similar method](http://docs.mongodb.org/manual/reference/method/db.collection.group/) on MongoDB's `db.collection`, but I'm not sure if we could use it.

[2014-08-07 17:29] #37 closed, assigned to nobody

[2014-08-16 13:45] #27 closed, assigned to nobody

[2014-08-20 01:18] iver opened #38 "PostgreSQL adapter - Error pq: relation "object" does not exist"
## Description

When you use Collection.Append() method

[code]

PostgreSQL adapter show the next error

[code]

You can view an example [here](https://github.com/ivan-iver/upperio_poc) and the documentation can find it [here](https://upper.io/db/postgresql)

[2014-08-21 18:43] #29 closed, assigned to xiam

[2014-08-21 22:28] #38 closed, assigned to nobody

[2014-09-16 16:40] #5 closed, assigned to xiam

[2014-09-17 07:08] elsonwu opened #40 "Support array or user-defined type in PostgreSQL"
Now does not support array or user-defined type for PostgreSQL

[2014-09-21 21:53] #25 closed, assigned to xiam

[2014-09-21 21:54] #40 closed, assigned to nobody

[2014-09-21 21:55] #32 closed, assigned to nobody

[2014-09-24 17:21] xiam opened #41 "Add Upsert() method for db.Result"

[2014-09-24 17:26] xiam opened #42 "Add Transaction() method for db.Result"

[2014-10-07 21:13] pkieltyka opened #43 "Open() to connect to multiple db servers"
I really like the design of upper/db, it's super clean and minimal. However, I believe `db.Open()` should accept an array of settings objects. For example, it's common with mongodb to pass a bunch of hosts which are in a cluster and then the client will determine the master, etc. etc. I presume MySQL / Postgresl would have something similar in a master/slave arrangement. Thoughts?

[2014-10-07 23:12] #30 closed, assigned to nobody

[2014-10-08 19:26] #35 closed, assigned to xiam

[2014-10-09 17:59] pkieltyka opened #44 "Discussion: C() aka MustCollection()"
I'm proposing the addition of `C()` to the `Database` interface, which is a combined short-hand to what would be `MustCollection()`. Saves a bunch of boilerplate code when querying a db.

See: https://github.com/pkieltyka/db/commit/1e34dd816e4faed04a20a15745f9d6c6d51327e9

.. doing PR's is difficult since the import paths break

[2014-10-14 19:57] xiam opened #45 "Add ConnectionURL interface"
This will help closing https://github.com/upper/db/issues/43, other developers can define their customized connection URLs.

[2014-10-21 23:25] alihammad-gist opened #46 "Can't find documentation for query offset"
How do i mention query's offset?

[2014-10-22 02:40] #46 closed, assigned to nobody

[2014-10-22 22:36] jgrusewski opened #47 "MySQL functions in where statement"
Currently I'm facing the following issue.
I would like to do some date/time comparison queries like:
SELECT \* FROM mytable WHERE  DATE(mydate) = DATE(NOW())

Q: SELECT \* FROM `mytable` WHERE (`DATE(mydate)` = ?) LIMIT 1000
A: [0000]
E: "Error 1054: Unknown column 'DATE(shipping_date)' in 'where clause'"
T: 0.00039s

What is the best way to approach this issue?

[2014-10-23 11:24] #47 closed, assigned to nobody

[2014-11-12 12:56] yookoala opened #49 "Cannot install through "go get""
Executing the command `go get upper.io/db` returns this:

[code]

It used to work, but it doesn't work now.

I've also tried `go get -d upper.io/db`. Same result. That means git/hg can't even download the package. Seems to be a hosting server setting issue.

(UPDATED: `go get` works only if no GOPATH is not set through env variable)

[2014-11-14 03:46] #49 closed, assigned to xiam

[2014-11-18 22:46] #45 closed, assigned to xiam

[2014-12-05 18:35] #15 closed, assigned to xiam

[2014-12-05 18:40] #34 closed, assigned to nobody

[2014-12-07 01:37] mischief opened #52 "mongodb collection creation"
hello, from http://docs.mongodb.org/manual/reference/method/db.collection.insert/#create-collection i am under the impression that if i were to try to Collection.Append (corresponding to db.collection.insert) to a not existing collection, the collection would be created if it did not exist. however it seems that upper.io/db doesn't have a way to create collections and doesn't insert to a mongo col

[2014-12-09 16:41] #52 closed, assigned to nobody

[2014-12-09 22:47] jgrusewski opened #53 "Join"
Hi Xiam,

I would really like some support for (MySQL) joins. And I guess to would be nice for Postgres to.

For example:

var Order struct {
  Id int64 `db:"id"`
  CustomerId int64 `db:"customer_id"`
  Date time.Time `db:"date"`
}

var Customer struct {
  Id int64 `db:"id"`
  Name string`db:"name"`
}

var Result struct {
  Order Order `db:",inline"`
  Customer Customer `db:",inline"`
}

// Join t

[2014-12-11 20:58] xiam opened #54 "golint on mongo/"
golint throws lots of suggestions on the mongo/ directory that we need to address.

[2014-12-11 20:59] xiam opened #55 "golint on util/"
golint throws lots of suggestions on the util/ directory and subdirectories that we need to address.

[2014-12-16 20:25] gima opened #56 "`util` package isn't listed in `godoc upper.io/db`, but is in `godoc github.com/upper/db`"
Trying to look up godoc documentation for the `util/sqlutil` cannot be found via the [`godoc for upper.io/db`](https://godoc.org/upper.io/db#pkg-subdirectories) link that the webpage has.
*(For some reason the `util` package is not listed.)*

Whereas [`godoc for github.com/upper/db`](https://godoc.org/github.com/upper/db#pkg-subdirectories) does indeed show the `util` package.

[2014-12-16 21:29] gima opened #57 "Enable using `upper/db` in combination with other go database libraries"
When one needs SQL, which is not supported by `upper/db`, one uses `sess.Driver()` directly.

*Consider the following:*

1. I would like to use `upper/db` for CRUD, because it is tedious to write by hand.

2. I would also like to use "`sql-helper-library`", a third-party library which provides me with functionality that I need.

3. Operations performed by both of the libraries need to run in a tra

[2014-12-27 18:40] hiyosi opened #58 "a new mongo document remains, after insert error"
https://github.com/upper/db/blob/master/mongo/collection.go#L215-L218

when occurred ```E11000 duplicate key ``` in mongo.Append() method, has remaining a record just before created.
so, I think it should removed when error

e.g. remove record as fllows
[code]

[2014-12-30 01:51] pkieltyka opened #59 "Import gopkg.in/mgo.v2 instead of labix.org/v2/mgo"
.. the issue is if a program imports `labix.org/v2/mgo` instead of what is normally used, and suggested: `gopkg.in/mgo.v2`. Even the examples in https://labix.org/mgo use it.

Perhaps just keep it in mind, the effect is the queries fail because the `bson` packages overlap, but never match an ObjectId

[2014-12-30 13:08] #59 closed, assigned to nobody

[2015-01-04 19:28] xiam opened #60 "SQLite fails on Windows"
Attaching screenshot:

![screenshot from 2015-01-04 14 28 21](https://cloud.githubusercontent.com/assets/385670/5607178/fad8f1ca-941d-11e4-8f76-4848302a9c54.png)

[2015-01-04 19:29] xiam commented on #60
This is blocking https://github.com/xiam/hyperfox/issues/1

[2015-01-04 20:20] #60 closed

[2015-01-08 18:06] pkieltyka commented on #13
hello, I think this is simple but important thing to do as well.. what is the state of this? I can try to take a stab at making it work

[2015-01-08 18:18] xiam commented on #13
@pkieltyka, @elsonwu Sorry for the lack of feedback! We have a problem and I can't figure out the simplest solution yet: we need to find a way to get the ID of the object we just appended to the MongoDB collection, I achieved this by creating an empty object with a custom ID and then updating the same object, but this has created us some trouble as we can see in this issue. If you can find a way t

[2015-01-08 18:30] xiam commented on #13
This is a related problem: https://github.com/upper/db/issues/58

[2015-02-09 19:10] pkieltyka commented on #44
I don't think this is necessary. But there should be something provided with upper that gives you a collection map so you dont have to query if the collection exists between each query.

[2015-02-10 13:54] c2h5oh commented on #13
@xiam fixed in https://github.com/upper/db/pull/61

[2015-02-10 18:09] xiam commented on #44
Hello Peter!

I think we should not use `panic()` for things that may happen during runtime, not being able to access a table is something that can definitely happen under certain circumstances (network interfaces fail, databases crash, things explode, etc).

But being able to chain `C()` would be definitely a useful shortcut.

[code]

What do you think about implementing `C()` but instead of pani

[2015-02-10 18:18] xiam commented on #13
Looks promising @c2h5oh! Unfortunately I'll be a bit busy this week but this is a long awaited solution. I'll test it as soon as possible and reply back to you.

Thanks,

[2015-02-10 18:49] pkieltyka commented on #13
nice! thanks @c2h5oh

[2015-02-10 19:03] pkieltyka commented on #44
Hey Carlos!

hmm.. printing to stderr is a bit strange in my opinion. But the thinking is interesting, it makes me think of a separate package which would have a global channel where you publish errors to a topic id. Then you can subscribe other go routines to pull `error`s from the queue and report or whatever as you like. I think this is much better than printing to stderr.

But... I still feel

[2015-02-11 16:03] xiam commented on #44
That sounds much better!

I'll try again with another suggestion:

Let's create a logger interface, the default behaviour of this logger interface would be printing to stderr, as it's the most easy thing to do, but we could always provide another struct that both satisfies the interface and meets our specific needs.

Let's create the `C()` method, in the special case of MongoDB it will have no eff

[2015-02-11 19:17] pkieltyka commented on #44
Yea I'll be at Gophercon! lets definitely meet up :)

I don't have in mind a caching package, because in general cache expiry is very difficult to get right and it depends on the context. In the case of caching collections, a `string` key map to a `Collection` object is straightforward and I wouldn't over-design it so early to add expiry. The reason is, if someone makes a database schema change th

[2015-02-20 04:12] #58 closed

[2015-03-01 01:43] pkieltyka opened #62 "Postgres under-lying driver getting out of date"
Hey Carlos,

I've been playing with postgres lately, and the first thing I did was read the implementation of upper/db/postgresl. I tried to upgrade to the latest github.com/lib/pq driver, and every test passes, except one having to do with `rows.Scan(scanArgs...)` in the `TestDataTypes` on the time.Time columns. I am sure this is something very small, but I can't quite figure it out yet. I was wo

[2015-03-01 14:14] pkieltyka commented on #62
I found out that the issue is that in the latest version of `pq` a call to `rows.Next()` will return the decoded types, instead of just returning []byte values. See here: https://github.com/lib/pq/blob/master/conn.go#L1329

I believe this makes sense, upper/db just needs to update to not expect sql.RawBytes and use those types it provides, and overall probably has to do less type conversion.

[2015-03-01 14:27] pkieltyka commented on #62
its these commits from ages ago that kind of made this all fall greatly behind:

https://github.com/xiam/gopostgresql/commit/c5c32cf42a1c9e34e05c32c38d188207ae006669
https://github.com/xiam/gopostgresql/commit/ba699ec55125d533edccbe464058298abcaea981

.. I see the challenge I guess, its to have generic sql util functions that fetch `sql.Rows` across mysql, postgres, etc... the problem is drifting

[2015-03-02 17:44] pkieltyka commented on #13
btw, I believe this ticket can be closed since the merge of #61

[2015-03-02 20:13] pkieltyka commented on #62
is anyone using this driver in practice...? it seems to have many bugs.. although, I still prefer the structure and design of upper over all orms, this needs a lot of refreshments

[2015-03-05 20:03] #13 closed

[2015-03-10 01:14] pkieltyka opened #63 "Use sqlx as underlying sql interface"
https://github.com/jmoiron/sqlx is a small (<2000 LOC) package that expands on the standard `database/sql` package that makes struct scanning really nice, among other things.

I've been working on a branch at https://github.com/upper/db/tree/feature/sqlx that uses sqlx, and in addition fixes a bunch of other bugs, with a focus on updating the postgresql adapter to support the latest driver (github

[2015-03-10 01:15] pkieltyka commented on #62
Closed in favor of #63 which fixes this issue in the process.

[2015-03-10 01:15] #62 closed

[2015-03-10 01:18] pkieltyka commented on #57
@gima see #63  .. we now have upper using sqlx as underlying driver. You can reference it with `Driver()`

[2015-03-10 02:12] xiam commented on #57
@pkieltyka sounds great! I was thinking: will this `Driver()` method be still compatible with old code that expects `*sql.DB`?

[2015-03-10 13:13] pkieltyka commented on #57
Yes :) it implements the same interfaces, plus some more

[2015-03-10 13:22] pkieltyka commented on #63
@xiam please review the branch, and post any feedback. If it checks out, perhaps apply the same changes to the mysql and sqlite adapters? the changes should be very straightforward as I kept all interfaces intact.

[2015-03-10 16:01] xiam commented on #63
Cool @pkieltyka!

I created an `experimental` branch, could you create a pull request from `feature/sqlx` into `experimental` referring this issue? That would allow us to review and comment on specific lines of the proposed code.

Thanks!

[2015-03-12 17:16] pkieltyka commented on #63
Btw, a part of this refactor I also think we should remove the dependency on gosexy/to, it's not really necessary anymore.

[2015-03-12 17:17] pkieltyka commented on #63
as well, upper/cache/main.go could be moved into sqlgen as cache.go since that is the only place its used, and its a caching util for sqlgen.

[2015-03-13 12:19] xiam commented on #63
Hello @pkieltyka,

I agree with removing gosexy/to if it's not required, moving the cache also sounds good, as we probably won't need that kind of caching if it weren't by sqlgen.

I'm planning to port your changes to MySQL over the weekend!

[2015-03-13 13:02] pkieltyka commented on #63
Awesome!

[2015-03-13 14:18] pkieltyka commented on #63
@xiam btw, I think that should be pretty easy, just look at the changes I did for postgres, because I think it will be almost identical.

[2015-03-13 14:58] xiam commented on #63
@pkieltyka Yeah, I also think it should be pretty easy!

[2015-03-31 12:27] ben-crowhurst opened #67 "CouchDB support"
Any information pertaining to CouchDB support?  How can we help?

[2015-04-20 15:38] xiam commented on #67
Hello @ben-crowhurst,

We're starting to plan time for upper.io/db and maybe we could take a stab at this task, do you have a CouchDB driver preference?

[2015-04-25 12:34] xiam opened #72 "Consolidate SQL adapter code"
After the changes introduced by using sqlx instead of database/sql we'll be able to move lots of the SQL adapter's code into a single package (`adapter`?).

[2015-04-25 12:36] xiam opened #73 "Support for `db` tag in MongoDB adapter"
MongoDB still uses `bson`, while the rest of the adapters use `db`. This is a great source of confusion.

[2015-04-25 12:38] xiam opened #74 "Add adapter's tests to travis.yml"
We're currently skipping adapter's tests.

[2015-04-30 18:00] vimdude opened #75 "Support for query cancellation"
Great product guys!

I was hoping if a discussion can be started about query cancellation. I'm willing to put some effort to add this feature. The goal is to be able to cancel a query at any given time. Something like what mysql does with `kill processId`. The idea is if for example if a request is dead, any resources used by that request should be freed.

Thanks

[2015-05-12 16:33] xiam opened #77 "sqlgen review"
The sqlgen is a fundamental part of upper.io/db. This package needs a code review and proper benchmarking to ensure it's really fast and does not waste resources.

[2015-05-13 00:24] pkieltyka commented on #77
:) also, we found there to be an issue when passing an empty `db.Cond{}` to the Where(), or even `db.And{db.Cond{}, db.Cond{}}` which may occur for conditions that are scoped at runtime. The sqlgen will generate a query like `SELECT * FROM x WHERE ()`

[2015-05-19 15:04] pkieltyka commented on #77
@xiam I reviewed your feature/sqlgen branch, great work so far.

[2015-05-19 15:22] xiam commented on #77
Thanks @pkieltyka! Yeah, lots of improvements but sadly it's still not quite ready for merge, there are a few points I'd like to fix and test before creating the pull request :-)

[2015-05-19 16:22] pkieltyka commented on #77
What do you think about the condition: `db.Cond{"hub_id": nil}` .. should the expression generate `"hub_id IS NULL` or `"hub_id" = NULL`. The second won't work of course.

[2015-05-19 16:28] xiam commented on #77
This one is interesting, the Go library uses special types for NULL but using them is a bit awkward. I'd suggest `"hub_id" IS NULL` in this specific case because that's typically what users would do when looking for a null value.

[2015-05-19 17:04] pkieltyka commented on #77
yes I agree too.. if there is a nice way to support it to be generated then we should do it because the only way to check for a NULL right now is with `db.Raw{"somefield IS NULL}`

[2015-05-23 14:53] xiam commented on #63
Branch `v2` is already using this :)

[2015-05-23 14:53] #63 closed

[2015-05-23 14:58] xiam commented on #75
Hello @vimdude,

Sorry for the delay. It sounds interesting, if you can get a Go example of how to accomplish query cancellation in both PostgreSQL and MySQL using https://github.com/lib/pq and https://github.com/go-sql-driver/mysql then I think we'll be able to implement too.

[2015-05-23 15:02] xiam opened #78 "Support empty db.Cond{} statements"
"db.Cond{}" is currently translated to "WHERE ()"

[2015-05-23 15:03] xiam opened #79 "Translate db.Cond{"foo": nill} to "foo IS NULL""

[2015-05-23 15:07] xiam commented on #78
There is a PR that needs to be evaluated: https://github.com/upper/db/pull/76, right now I think we could do this somewhere else before passing the task to sqlgen.

[2015-05-26 16:52] pkieltyka opened #80 "conn.Collection("x") should cache the db.Collection"
In the specific adapters, a call to `Collection()` and `Collections()` will query the database for the table details. However, since `conn.Collection("...")` is called so often and shouldn't change at runtime, we should cache the db.Collection returns.

Also, what is the use case for accepting an array of names? Is this for joins? if so, we should consider how should join's be done in general to s

[2015-05-27 16:31] c2h5oh opened #81 "Make column name quoting optional or configurable"
While I understand why this is happening by default it makes a bunch of Postgresql queries impossible.

Examples:
- GroupBy function - `GROUP BY count(x)` will not work, because `count(x)` will be put in quotes. If I stick `db.Raw` in GroupBy I get the whole string in curly brackets instead of quotes - still fails
- Array search `WHERE search_value = ANY(array_column)` again, impossible, because e

[2015-05-27 17:06] c2h5oh commented on #81
I know I can use `db.Raw`, but that's a bad idea, especially with `ANY` - I'd have to handle escaping on my own.

[2015-05-27 18:10] pkieltyka commented on #81
@c2h5oh can you post an example of a db.Result call to the kind of group query?

[2015-05-27 18:12] pkieltyka commented on #81
for a raw condition, what do you guys think of:
`col.Find(db.Cond{"search_value": db.Raw{"ANY(array_column)"}}).One(&x)`

have you tried that?

[2015-05-27 18:27] xiam commented on #81
This is definitely a problem @c2h5oh, can you provide an example of the string you got by using `GroupBy(db.Raw("count(x)"))`?

The `Find()` line suggested by @pkieltyka should work too.

[2015-05-27 18:36] c2h5oh commented on #81
A full example:
[code]
`search_value` is the string I'm looking for, not a column name. This a weird Postgresql quirk - reverse (`ANY(column_name) = 'search_value'`) will not work.
For the query to work I need `value` without double quotes - either a single quote (if it's string) or no quotes (int, etc).

`Find()` example will produce `WHERE "search_value" = ANY(array_column")` - double quotes on

[2015-05-27 19:17] xiam commented on #81
Sorry I can't test this right now, but could you see if [this branch][1] works? It should accept `Group(db.Raw{"foo(bar)"})` and `Group(db.Func{"foo", db.Raw{"bar"}})` now.

I am not sure what would be the best syntax for `'search_value' = ANY("table_name"."table_column");` though, it's currently not supported, but you have a very valid point and we should definitely fix it. Thoughts?

[1]: https:

[2015-05-27 19:31] c2h5oh commented on #81
I'll check that branch in a few and let you know.

How about we make `db.Cond` a `map[interface{}]interface{}` and format the resulting sql based on type of the key?

[2015-05-27 20:53] c2h5oh commented on #81
@xiam
That fixes `db.Func`, but `db.Raw` is still broken - no change. I've added a print here https://github.com/upper/db/blob/fix/issue-81/postgresql/result.go#L111 and the value seems to be `{UNNEST(column_name)}` - the problem is earlier.

[2015-05-27 21:08] xiam commented on #81
Oh sorry @c2h5oh, you're right! I commited another change that should fix that issue, I'll test myself as soon as I return to my dev machine.

[2015-05-27 21:39] c2h5oh commented on #81
@xiam it works! thank you

[2015-05-28 01:12] xiam commented on #81
@c2h5oh thanks for testing it out! we still need to figure out how to fix the other case.

My concern with `map[interface{}]interface{}` is how are we going to decide if the interface{} is a column or a value? We could have cases like:

[code]

Or

[code]

Or even

[code]

So we'll probably need more time to figure out that one.

[2015-05-28 03:51] c2h5oh commented on #81
adding `db.Value` to compliment `db.Raw` would do.

[2015-05-28 13:51] pkieltyka commented on #81
@c2h5oh that's interesting... I did an experiment comparing the type of string that's being passed, whether it should or not be quoted. See: http://play.golang.org/p/4CZlp0m6C_

This still wouldn't solve `db.Cond{1:1}` though

[2015-05-28 15:31] c2h5oh commented on #81
@pkieltyka but this does
http://play.golang.org/p/IiWQSmbMW1

[2015-06-09 02:03] xiam commented on #77
`sqlgen` is fully merged now into `v2`.

[2015-06-09 02:03] #77 closed

[2015-06-09 02:04] xiam commented on #74
Adapters tests are now into the travis file (`v2` branch).

[2015-06-09 02:04] #74 closed

[2015-06-09 02:04] #55 closed

[2015-06-09 02:05] #72 closed

[2015-06-09 02:59] xiam commented on #78
I tested this one and looks like its working in `v2`.

[2015-06-09 03:02] xiam commented on #78
See test in https://github.com/upper/db/pull/83

[2015-06-09 13:05] pkieltyka commented on #78
That is awesome! I like the implicit conditions for nil and slices! nice work

[2015-06-09 15:05] pkieltyka opened #84 "Benchmarks of v2 against database/sql to determine bottlenecks"
As a referenece, postgresql benchmarks show:

[code]

note, BenchmarkAppendRawSQL vs BenchmarkAppendUpper numbers

[2015-06-11 17:13] xiam opened #86 "Tests on travis-ci are failing"
Looks like this is caused by the custom import path.

[2015-06-11 17:19] xiam opened #87 "Replace Vagrantfile for testing with different Dockerfiles"
This used to work with some hacks https://github.com/upper/db-vagrant, now it would be easier for everyone to replace it with a few dockerfiles for PostgreSQL, MySQL and MongoDB.

[2015-06-12 18:06] pkieltyka opened #89 "Cursor / pagination support"

[2015-06-12 18:07] pkieltyka opened #90 "Sqlgen to provide a nice builder interface for any query"
It would be cool if the sqlgen was more like: https://github.com/lann/squirrel  .. we could use it to build queries internally, but also expose it if someone wants to write their own crazy raw query

[2015-06-12 18:10] pkieltyka commented on #90
FYI, I've already been using squirrel with upper/db for a while to do JOINs or other complicated queries.. for example:

[code]

It works great. But, it would be nice for this to be apart of upper, where we can do a few other tricks, as well have shorter code to do the above

[2015-06-13 00:31] #86 closed

[2015-06-14 13:13] xiam commented on #84
Still a work in progress but I think it looks a lot better than before:

[code]

Look, this benchmarks produces SQL that is quite like the one generated by upper.io/db:

[code]

And this is upper doing equivalent work:

[code]

Time difference per operation is now about 0.02ms within the virtual machine I use for testing.

[2015-06-14 13:15] xiam commented on #84
Guess we'll also need to compare SELECT and UPDATE operations as well.

[2015-06-17 02:14] xiam opened #91 "Make licensing clearer and changing copyright message"

[2015-06-17 02:41] xiam opened #93 "Documentation for v2"
* Differences between v1 and v2.
* Introducing [bond](https://github.com/upper/bond).
* Speed improvements.
* Why using sqlx?
* How to use v2? (with glock or other tools).

[2015-06-17 14:10] #91 closed

[2015-06-18 22:25] xiam commented on #87
https://github.com/upper/db-testing-environment

[2015-06-18 22:25] #87 closed

[2015-07-03 18:07] Kulak opened #94 "Documentation says that "SQLite primary key must be named "id" for db.Collection.Append()" but this is not accurate anymore"
The documentation states

Is this still a limitation?  If yes, then I don't see an Issue recorded.  If not, then docs correction would be nice.

[2015-07-07 19:40] #78 closed

[2015-07-07 19:40] #79 closed

[2015-07-22 21:14] xiam commented on #94
Thanks for noticing! This is not a limitation anymore. Will update the docs accordingly.

[2015-07-22 21:16] xiam opened #95 "Travis is not working on branch issue-84"

[2015-07-22 21:18] xiam commented on #95
Tests were already fixed by @pkieltyka (except for MySQL) on the v2 branch, so maybe I missed something while merging.

[2015-07-22 23:37] xiam commented on #95
https://travis-ci.org/upper/db/builds/72207366

[2015-07-22 23:37] #95 closed

[2015-07-23 01:11] xiam commented on #84
Closed by https://github.com/upper/db/commit/a322551a40f7cf919de7be98e3c76441ba396a2f

And travis is working too!: https://travis-ci.org/upper/db/builds/72218944

[2015-07-23 01:11] #84 closed

[2015-07-23 05:43] #94 closed

[2015-07-25 11:45] xiam commented on #80
Caching is enabled for `Collections()` but not for `Collection()`.

Considering that, as you said, tables won't typically change at runtime (or should not) I think it makes sense to cache them.

Yes, the case is for simple joins:

[code]

The example above is very limited, it only works for queries in the form:

[code]

I think the syntax looks awful, hope we'll find something better for more powe

[2015-07-25 11:49] xiam commented on #43
Haven't closed this one, but this has been in mongodb and upper for some time now:

[code]

[2015-07-25 11:49] #43 closed

[2015-07-26 16:19] xiam commented on #54
https://github.com/upper/db/commit/d1e7ea16ee25b41525a3e20c2e0bac9e2cfce11b

[2015-07-26 16:19] #54 closed

[2015-07-26 17:52] xiam opened #97 "Oracle support"
We can take a look at https://github.com/mattn/go-oci8

[2015-07-26 17:52] xiam opened #98 "MSSQL support"
We can take a look at https://github.com/denisenkom/go-mssqldb

[2015-07-27 14:37] #44 closed

[2015-07-27 14:39] pkieltyka commented on #80
good to kno! yea I think it makes sense to cache on .Collection() too then

[2015-07-30 18:43] c2h5oh opened #99 "Database defined default values don't update go values on save/update"
To get primary key set on save you just leave it empty and tag it with `pk,omitempty` - this works just fine.

What you can't do is get the same thing to happen for fields that are not primary key:

Let's say I've got a struct:
[code]
that gets saved to a table
[code]

after saving data struct will have Id set to the next value of db sequence, but CreatedAt will remain `nil` despite the fact it to

[2015-07-31 00:47] xiam commented on #99
Thanks for your report @c2h5oh,

If you see the log for this `Append()` (just set the `UPPERIO_DB_DEBUG` environment variable to `1`), do you see the `created_at` column among all the other columns that are actually used in the INSERT clause?

[2015-08-02 12:53] xiam commented on #80
Looks like caching just the database schema and not the collection pointer currently provides good results when using the `Collection()` method:

[code]

except in MongoDB on which I am caching the collection value. That didn't provide a significant speed bump because `Collection()` still needed to check whether the collection exists or not.

Caching the `C()` method provided awesome results on al

[2015-08-02 12:58] xiam opened #102 "QL benchmark failing on travis"
See this, for instance: https://travis-ci.org/upper/db/jobs/73764318

I suspect this has to do something with a memory limit.

[code]

[2015-08-04 19:47] c2h5oh commented on #99
I won't, because of `omitempty`

[2015-08-04 20:22] xiam commented on #99
@c2h5oh What would be the actual SQL that upper should generate in this particular case? As far as I understand, if the `created_at` field is not sent, then the database must use the default value, is that correct?

[2015-08-04 20:58] c2h5oh commented on #99
That is correct, but it is possible to get the database to return those values:

- PostgreSQL, Oracle `INSERT INTO ...[regular insert query] ... RETURNING field1, field2, ..., fieldN;`
- MSSQL `INSERT INTO ...[regular insert query]...; SELECT field1, field2, ..., fieldN FROM table_name WHERE id = SCOPE_IDENTITY()`
- SQLite `INSERT INTO ...[regular insert query]...; SELECT last_insert_rowid();` //

[2015-08-08 12:47] xiam commented on #90
What do you think on this?

[code]

I think that the `db.Raw` looks awkward, but the rest of the statement makes sense to me.

Currently the only way to create a `db.Result` is using the `Find()` method on a `db.Collection`, but maybe we can create such object using `Select()` too, then we would be able to rewrite it to something more familiar:

[code]

I think that after adding the `Join()` metho

[2015-08-08 12:59] xiam commented on #81
We already have `db.Raw` @c2h5oh, I think we can use it instead of the `Value` struct you proposed.

How does something like this look?

[code]

[2015-08-08 13:26] xiam opened #103 "SQL syntax errors are not being printed to the log"
I realised this while proposing a fix for #81. This was surely caused by my latests changes to the debug routines.

[2015-08-08 15:30] pkieltyka commented on #90
The challenge is how do you bend this to do even more crazy queries.. Like subqueries and union, etc. and the other concern is creating an abstraction that deviates where just plain SQL would be better, without having to teach some new form.. The is the problem with all ORMs and I think upper should try to be an ORM, just an elegant data access layer with some convenient query interfaces and hooks

[2015-08-09 13:57] xiam commented on #81
Hey @c2h5oh,

I experimented a bit more on this issue, it looks good to me but maybe you can find other corner cases or flaws.

Could you try this branch? https://github.com/upper/db/tree/issue-81. It only works with PosgtrSQL at the moment.

[2015-08-11 02:18] xiam commented on #90
[code]

That would be also completely possible, it would be just syntactic sugar for `sess.C("artist a").Select("a.name", "p.title").Where(cond)`. The first statement with `Select()` focuses on fields and the second one with `C()` on collections, and too me they are too different cases, both valid. At the end both of them will return `db.Result` so `All()` and `One()` will be available too.

Befor

[2015-08-11 11:42] pkieltyka commented on #90
Good points, I don't know how I forgot about the Delete(), Insert() and Update() .. We'll need this as well. I think you're right in first having a Builder() and also the short form of .C(x).Select()

[2015-08-14 13:12] pkieltyka commented on #99
It's a nice idea.. and sounds like we could achieve this for postgres, but not for others which is a bummer.

[2015-08-14 13:14] pkieltyka commented on #90
Btw, I think its working looking at:

https://github.com/gocraft/dbr
https://github.com/gocraft/dbr/tree/postgres

and..

https://github.com/mgutz/dat

[2015-08-14 13:45] c2h5oh commented on #99
MSSQL and Oracle also have the syntax we'd need.

[2015-08-14 13:47] pkieltyka commented on #99
both we'll probably so no users from ... I care about MySQL and Postgresql .. sqlite too... I'm not sure what we should do, it is difficult to make a data access layer that provides the same ability for all

[2015-08-14 14:06] xiam commented on #90
Thanks @pkieltyka I like the `dbr` syntax, and some of the ideas of `dat` are also good, but I think `dat` has a lot more things that we probably won't use that much.

[2015-08-14 14:27] xiam commented on #99
If I understand correctly, the problem is that a variable `dataValue` of type `data` will be different from the actual database value in case the database assigns a value, such a timestamp, right?

Users can workaround this now by preparing a query with `One(dataValue)` after `Append()` or `Update()` using the ID returned by `Append()` or passed to `Update()`, it's probably a bit awkward but it's

[2015-08-14 14:53] c2h5oh commented on #99
I'd go further than that. I would make that. I'd make it an optional (for backwards compatibility), globally configurable behavior of `Append()` and `Update()`

[2015-08-16 14:54] xiam commented on #90
Current WIP on the query builder interface:

https://github.com/upper/db/blob/9f4086b4fb5258a86db7d8e1a1cde0e4e2129c06/postgresql/database_test.go#L1921

Thoughts?

[2015-08-16 19:46] pkieltyka commented on #90
Impressive work!! I had a PR for it, along with other issue branches so we can easily do reviews there.

[2015-08-16 20:21] xiam opened #107 "Update travis.yml now that our reflectx changes have been merged into sqlx"

[2015-08-21 02:04] xiam opened #108 "The Database.Transaction() method generates a new connection each time it's called, with no restrictions"
Each call to `Database.Transaction()` generates a new connection, which does not get discarded after committing the transaction.

We can trigger this error with a loop that:

1. Opens a transaction.
2. Executes Commit().
3. Goes back to 1.

After `Commit()` the connection should not be considered "busy" anymore, we should either close or reuse it.

Related error:

[code]

[2015-08-27 22:18] xiam opened #110 "Block Open() requests when the connection pool is exhausted"
We can block database `Open()` requests to a certain extent when we know that the connection pool is not able to allocate more connections.

We should make sure that:

* This blocking has a timeout.
* There is a hard limit of enqueued `Open()` requests, and after this limit is reached, `Open()` will start returning a new `db.ErrNoMoreConnectionsAvailable` error.

[2015-08-31 11:06] xiam opened #112 "Find a way to return the computed SQL statement for a query without having to enable debug"
Maybe we can add a `String() string` method to `db.Result`? It would return SQL for sql databases and a serialized query for non sql databases, it would also work for the query builder.

[code]

[2015-09-04 01:23] #110 closed

[2015-09-04 01:23] #108 closed

[2015-09-04 01:23] #103 closed

[2015-09-04 01:24] #80 closed

[2015-09-04 03:27] xiam commented on #112
Yeah, the String() method is not going to work in All() or One() statements, they return error. What about this?

[code]

A logger interface we could attach to result, collection or session.

[2015-09-05 13:04] xiam commented on #107
https://github.com/upper/db/pull/113

[2015-09-05 13:04] #107 closed

[2015-09-08 12:56] xiam commented on #90
Just a quick update, now we have the `DeleteFrom`, `Update` and `InsertInto` methods. I'm actively trying to avoid the need for an `Expr()` function. How does the test file look?

[2015-09-08 16:02] thegrandpoobah opened #114 "mongodb:// URL support seems to be incomplete"
I am trying to establish a connection to a Clustered MongoDB instance hosted on MongoLab and the connection never seems to be established. MongoLab gives the following MongoDB URL:

         mongodb://<dbuser>:<dbpassword>@dsXXXXXXX-a0.mongolab.com:47112,dsXXXXXXX-a1.mongolab.com:47112/<dbname>?replicaSet=rs-dsXXXXXXXX

Which I feed straight into the `ParseURL` method of `upper.io/db/mongo` packag

[2015-09-08 20:58] pkieltyka commented on #42
relevant still now with new transactions tuff..?

[2015-09-08 20:58] pkieltyka commented on #112
I think just add res.QueryString() that returns a string for the query its going to execute

[2015-09-08 20:59] pkieltyka commented on #112
or just res.Query()

[2015-09-10 00:45] xiam opened #115 "A few more examples for sqlgen"
Hey @evalvarez12,

We already have some test queries in sqlgen, see the `statement_test.go` file, but I think it would be even better to have a few more examples like:

[code]

We well probably require changing the template file (see `default.go`) or even add another kind of fragment to support some of the queries above. Could you take a look at it?

Please start with the [issue-90](https://github

[2015-09-10 01:00] xiam commented on #115
The best way to do this is using a pull request. See this one, for instance https://github.com/upper/db/pull/106/files.

Note that the number of this issue is #115, so you should be working on a new branch named "issue-115". See https://guides.github.com/introduction/flow/ and https://help.github.com/articles/using-pull-requests/

[2015-09-14 11:13] xiam commented on #114
Thanks @thegrandpoobah, good catch with the comma thing.

[2015-09-14 11:18] xiam opened #117 "tx.Close() is not rolling back the transaction"
For some reason, tx.Close() is not rolling back the transaction as expected, this *might* have to do something with the database/sql bug that got fixed on go1.5.1. We need to force a roll back so we can safely use a pattern like:

[code]

Instead of manually rolling back before every `return`.

[2015-09-14 18:00] xiam commented on #117
Closed by https://github.com/upper/db/commit/65051f6138509042c4564191a504c3cca8ac2788

[2015-09-14 18:00] #117 closed

[2015-09-14 23:28] xiam commented on #114
Hey @evalvarez12, would you like to take a stab at this one?

[2015-09-15 03:02] pxue opened #120 "allow non ObjectId type for mongo collections"
in collection.go [getId](https://github.com/upper/db/blob/master/mongo/collection.go#L301) returns bson.ObjectId, this should be abstracted to any valid `_id` value.

[2015-09-16 18:35] VojtechVitek opened #123 "pq: cached plan must not change result type"
This error happens when we run DB migration in a separate process and we change some table structure.

The prepared/cached statements are invalid from that point. It'd be nice if the postgres adapter could clear the statements cache after this error occurs.

[2015-09-18 03:39] xiam commented on #120
Closed by https://github.com/upper/db/pull/121

[2015-09-18 03:39] #120 closed

[2015-09-24 04:22] xiam commented on #114
This should have been fixed by https://github.com/upper/db/pull/125

[2015-09-24 04:22] #114 closed

[2015-09-28 19:25] VojtechVitek opened #127 "Query builder for .Union() and .UnionAll()"
Feature request for the query builder:

[code]

[2015-09-28 19:54] VojtechVitek opened #128 "Nicer query builder for IS (NOT) NULL"
Currently, we can render `IS NOT NULL` (or `IS NULL`) via:
- `db.Cond{“foo”: db.Raw{“IS NOT NULL”}`
- `db.Cond{“foo”: db.Raw{“IS NULL”}`

It'd be nice if we could simplify this to something as what Squirrel does:
- `squirrel.NotEq{"foo": nil}`

Related: #105

[2015-09-28 22:37] pkieltyka commented on #127
I think Union() is a good thing to add to the SQL query builder, but I think in upper the generic builder via `.Find()` should be reserved to a subset of features just for doing the most basic conditions and using the sql query builder for all advanced queries, which is where Union would go.

[2015-10-13 07:32] yookoala opened #129 "Cannot read PostgreSQL "timestamp with time zone" into time.Time"
When retrieving PostgreSQL fields of "TIMESTAMP WITH TIME ZONE" type, the time simply failed to parse the database response and hence leave it as "0001-01-01 00:00:00 +0000 UTC". By changing the database definition to "TIMESTAMP WITHOUT TIME ZONE", the problem automatically solved.

It could be caused by the difference in time representations. (PostgreSQL use "2006-01-02 15:04:04.999999999-07" as

[2015-10-14 20:51] VojtechVitek opened #130 "v2: Define DB Errors as types instead of variables"
If we had type for each DB error instead of variable instance (https://github.com/upper/db/blob/96bcc81a2d529a2df50378a7a35fd9cf8b59865a/error.go#L29-L53), we could store the actual message coming form the database inside of the error. This can be very useful for further inspection.

[code]

[code]

This way, we could get more verbose message out of upper/db about what really happened in the datab

[2015-11-04 15:44] VojtechVitek commented on #128
"poor's man fix" by @c2h5oh:

[code]

[2015-11-17 03:25] #57 closed

[2015-11-19 10:12] gima commented on #56
I dont even anymore.

[2015-11-19 10:12] #56 closed

[2015-11-25 11:40] krak3n opened #131 "Install Issue"
Please see upper/cache#2.

Currently I am unable to build my application since `upper.io/cache` is required by `upper.io/db`. This is breaking builds with no way to resolve it.

[2015-11-25 15:44] VojtechVitek commented on #131
@krak3n I noticed the same thing today. You can workaround it like this:

`cd $GOPATH/src/upper.io && rm -rf db && git clone git@github.com:upper/db.git`

[2015-11-25 16:18] xiam commented on #131
That was my fault, it should be fixed now. Sorry to have caused you trouble.

[2015-11-25 16:31] #131 closed

[2015-11-26 02:42] xiam opened #132 "Provide versioning support for v2"
[gopkg.in](https://gopkg.in) style, like `upper.io/db.v2`, `upper.io/db.v2/postgresql`, etc.

[2015-12-02 20:16] c2h5oh commented on #130
neat!
we can also encapsulate raw db errors in https://github.com/goware/errorx

[2015-12-02 20:18] c2h5oh opened #133 "Collection list is cached forever (could be driver issue)"
We've just encountered it:
- we've run a migration which added a table, but failed to set table permissions
- app was restarted
- queries to new table failed with "Collection does not exist"

this part was to be expected. what wasn't:

- we've fixed the permissions
- queries still failed with the same error
- restarting app fixed it

[2015-12-02 20:44] pkieltyka commented on #133
yea.. this is an interesting point.. any suggestions?

[2015-12-02 20:52] xiam commented on #133
I think that's because db queries all tables first and assumes no tables will be added in runtime. We could catch that error, prevent it from assuming the table does not exist and just query for it anyway.

[2015-12-02 22:23] pkieltyka commented on #133
I think catching that error, then updating cache.. If fails again, then we should panic

[2015-12-13 20:35] xiam commented on #132
Closed by https://github.com/upper/db/commit/3648fcf6a0d662a9aa7b71e10c3035fec5f58795

[2015-12-13 20:35] #132 closed

[2015-12-13 20:39] xiam commented on #90
The https://github.com/upper/builder package, inspired on dbr and squirrel, was created to tackle this problem.

[2015-12-13 20:39] #90 closed

[2016-01-10 20:13] xiam opened #134 "v2: integrate cache into main db package"

[2016-01-10 20:13] xiam opened #135 "v2: integrate builder into main db package"

[2016-01-16 13:46] xiam opened #138 "Can we use https://github.com/mitchellh/hashstructure for caching?"
We currently use a very basic hashing mechanism.

[2016-01-16 14:37] pkieltyka commented on #138
for record caching?

[2016-01-16 14:51] xiam commented on #138
No @pkieltyka, to replace the hashing method we currently use for caching generated SQL queries.

[2016-01-16 14:52] pkieltyka commented on #138
ah, I see. I'll take a closer look. The new PR with cache+builder is nice, that will be a good addition to v2, then we can look at the project in one place.

[2016-01-20 09:52] airomega opened #140 "Problem with dots in table names"
Not sure if this is a bug - it seems like it.

I've got a postgres table whose fully qualified name is schema_name.table_name. I want to append to insert a row to table_name.

When I try
 tableCollection, err := db.Collection("schema_name.table_name")
I get a "Collection does not exist." error

If I change it to
tableCollection, err := db.Collection("table_name")
and then try

_,err =tableCollecti

[2016-01-20 17:47] VojtechVitek opened #141 "ORDER BY FIELD() support"
MySQL supports field ordering natively:
[code]

Postgres supports the same thing via:
[code]

I'm not sure about other databases.

Do you think we could add upper/db method that support this? Does it make any sense?

[code]

[2016-01-21 14:06] xiam commented on #140
Thanks @airomega, this sounds like a problem on our side. If I understand correctly the only thing I need to replicate it is to create a table with name `schema_name.table_name` and try to access it with `Collection()`, right?

[2016-01-22 14:31] airomega commented on #140
That sounds right. When I run db.Collections in my code currently it returns tables in my public schema but nothing else. Happy to provide more information if required.

[2016-01-23 17:46] xiam commented on #140
@airomega I confirmed this issue and the problem is that db looks for the `.` and thinks that you're trying to access the `table_name` on the `schema_name` database, not the table `schema_name.table_name`. This problem is still on `v2`. Not sure what would be a good solution for that though. We'll take care of this one in `v2`.

[2016-01-25 10:41] airomega commented on #140
Thanks. Appreciate the feedback.

[2016-01-26 16:01] pxue opened #142 "COUNT() should respect aggregation"
Not sure if there's another way to do this..but

.COUNT() is always returning `COUNT(1)`, it would be nice if we can run queries such as SELECT(`distinct id`).COUNT() .. -> COUNT(distinct user_id)

I can work around by using SELECT(db.Raw{count(distinct id)}) but then I'd have to define a placehold struct to grab the result

[2016-01-26 16:49] xiam commented on #142
Agreed, this is not possible with current `v1` but the query builder in `v2` takes care of things like that with ease. I'll keep this open to add an example for that one.

[2016-01-31 14:48] xiam commented on #81
Gonna close this as we can now express this with a simple string and if that's not adequate the query builder on `v2` can also take care of queries like this one.

[2016-01-31 14:48] #81 closed

[2016-01-31 15:09] xiam commented on #134
Looking good in v2.

[2016-01-31 15:09] #134 closed

[2016-01-31 15:10] xiam commented on #135
Looking good in v2.

[2016-01-31 15:10] #135 closed

[2016-01-31 15:11] xiam commented on #138
This is working great in `v2`!

[2016-01-31 15:11] #138 closed

[2016-02-08 21:35] VojtechVitek commented on #130
https://github.com/Shyp/go-dberror

[2016-02-11 16:52] pxue opened #144 "Updating ptr field to nil is ignored"
For example a struct:
[code]
when updating created_at to nil the resulting sql query is empty and the field is not updated.

[2016-02-29 11:40] xiam opened #145 "Remove `db.Settings`"
...and make sure that users can provide a DSN directly, without a ConnectionURL struct (do we really need `db.Address`, `db.Socket`, etc?)

[2016-03-07 12:45] xiam commented on #145
Closed by https://github.com/upper/db/commit/b7d4a61f10bba73055a5d7486728d5efd6f73794

[2016-03-07 12:45] #145 closed

[2016-03-07 12:51] xiam opened #147 "Closer look at prepared statements"
We're currently creating prepared statements that are cached by a small amount of time and then discarded, that helps a lot with repeated queries but does this create any kind of waste? If we don't create the prepared statement some drivers will.

Other products like dbr do not use prepared statements at all, see https://github.com/gocraft/dbr#faster-performance-than-using-databasesql-directly

[2016-03-11 14:56] xiam opened #148 "Remove C(), keep Collection()"
And remove the error from `Collection()`, in case the collection does not exists any query that uses that collection will fail (only when the collection is actually used).

[2016-03-11 15:20] xiam opened #149 "v2 API review"
Let's do a throughout review of v2's API and let's change everything that needs to be changed and remove any bloat or non essential feature in order to have a slimmed down version of `db`.

Database, Collection and Result methods are all defined here:

https://github.com/upper/db/blob/v2/db.go

A few initial thoughts and awkward cases that I think we need to solve:

* ~~`Collection.Append()` This

[2016-03-19 14:12] xiam commented on #147
The problem here are not prepared statements for the sake of being prepared statements, they're supposedly used to achieve [better performance](http://www.postgresql.org/docs/9.2/static/sql-prepare.html).

A side affect to that is that with prepared statements the database driver does not have to escape parameters by itself, and thats less susceptible to SQL injection attacks, I guess that's one o

[2016-03-20 14:38] xiam opened #152 "Shared test suite"
Currently each adapter has their own tests, we can make sure tests are not diverging too much by using a common test suite.

[2016-03-22 00:03] VojtechVitek commented on #147
Nice job!

[2016-04-02 13:35] xiam commented on #148
https://github.com/upper/db/pull/153

[2016-04-02 13:35] #148 closed

[2016-04-02 13:35] pkieltyka commented on #148
yeay :)

[2016-04-02 13:41] xiam commented on #152
With https://github.com/upper/db/pull/154 we only one one test suite for all SQL drivers (depends on `go generate`).

[2016-04-02 13:41] #152 closed

[2016-04-02 13:48] xiam opened #155 "v2: remove Use() and Drop()"
Instead of `Use()` users must use `db.Open` with a different database name, and if they want to drop the current database (which is not very common in practise), they must do it manually instead of using `db.Database.Drop()`.

See https://github.com/upper/db/issues/149

[2016-04-02 17:16] xiam opened #157 "v2: Merge db.Database.Setup functionality into Open"
Related: https://github.com/upper/db/issues/149

[2016-04-02 17:48] xiam opened #159 "v2: Rename Append into Insert"

[2016-04-02 21:12] pkieltyka commented on #144
@pxue @xiam this seems to be a bond thing

[2016-04-02 21:15] pkieltyka commented on #128
@xiam is this still relevant in latest v2 branch..? `"user_id IS NOT": nil` I think it just fine, im not sure if this is still supported in latest db.Cond and builder

[2016-04-02 21:29] xiam opened #161 "Travis is failing randomly"
Maybe because we are running the connection exhaustion test and the database does not catch the error travis's PostgreSQL is returning.

[2016-04-02 21:41] xiam commented on #149
@pkieltyka I was experimenting with this `InsertReturning()` method because I think that can solve cases like https://github.com/upper/db/issues/99, it basically implements the pattern that users follow when they want to get a recently inserted element from the database, which is querying for it. The difference is that this is all done within a transaction to make sure that we won't be inserting a

[2016-04-02 21:48] pkieltyka commented on #149
@xiam thats an interesting idea. so when using InsertReturning() you actually do an Insert and then fetch the same data and set the object to the returned object...? I think its very smart.

[2016-04-02 21:49] xiam commented on #128
In v2 we could use either `col.Find("user_id IS NOT NULL")` or `col.Find(db.Cond{"user_id IS NOT": nil})`

[2016-04-02 21:49] xiam commented on #128
Let's close this one as it's already covered in v2.

[2016-04-02 21:49] #128 closed

[2016-04-02 21:54] xiam commented on #149
@pkieltyka Yes, that's right. That's what users currently do to fetch an item after inserting. So if you agree I'll finish it and create a formal PR for it. I'll also get rid of the awkward `IDSetter` interfaces I added.

[2016-04-02 21:55] pkieltyka commented on #149
Good plan!

On April 2, 2016 at 5:54:32 PM, José Carlos (notifications@github.com) wrote:

@pkieltyka Yes, that's right. That's what users currently do to fetch an item after inserting. So if you agree I'll finish it and create a formal PR for it. I'll also get rid of the awkward IDSetter interfaces I added.

—
You are receiving this because you were mentioned.
Reply to this email directly or view

[2016-04-03 20:41] xiam commented on #157
https://github.com/upper/db/pull/158

[2016-04-03 20:41] #157 closed

[2016-04-03 20:41] xiam commented on #159
https://github.com/upper/db/pull/160

[2016-04-03 20:41] xiam commented on #155
https://github.com/upper/db/pull/156

[2016-04-03 20:41] #155 closed

[2016-04-13 13:46] xiam opened #167 "v1: port cache from v2 into v1"

[2016-04-19 02:32] xiam commented on #161
This was already fixed.

[2016-04-19 02:32] #161 closed

[2016-04-19 02:32] xiam commented on #147
Thanks @VojtechVitek

[2016-04-19 02:32] #147 closed

[2016-04-19 02:39] xiam commented on #133
In `v2` tables are no longed tested when accessed, they will be used anyway (even in they don't exists or they're not readable) to build the query. Users will learn of any errors only after actually building and executing the query.

[2016-04-19 02:39] #133 closed

[2016-04-19 02:47] xiam commented on #99
In `v2` we'll have a `db.Collection.InsertReturning()` method that inserts the item and then it queries it within a transaction:

[code]

In some databases we'll be able to spare the `SELECT` query after `INSERT` by using the `INSERT ... RETURNING` syntax, we'll tackle that optimization later.

Related: https://github.com/upper/db/pull/169

[2016-04-19 02:47] #99 closed

[2016-04-19 02:49] xiam commented on #53
In `v2` we have a query builder that supports joins: https://github.com/upper/db/blob/0420bb9865b95c7ac40fae9092f9fce9de7e6769/builder/builder_test.go#L175

[2016-04-19 02:49] #53 closed

[2016-04-19 02:50] xiam commented on #42
Not relevant anymore as results can be used within transactions with no problem.

[2016-04-19 02:50] #42 closed

[2016-04-19 02:52] xiam commented on #41
`db` won't provide support for upsert.

[2016-04-19 02:52] #41 closed

[2016-04-19 02:53] xiam commented on #36
There's no need to do this. Users should be able to design their own environment and to decide how do they want to use it.

[2016-04-19 02:53] #36 closed

[2016-04-19 02:56] #115 closed

[2016-04-19 18:33] EvanPurkhiser opened #170 "Tagged version"
Would it be possible to have a version of `upper.io/db` tagged and for the project as a whole to consider following [Semantic Versioning](http://semver.org/)?

This makes things a little better for those using package managers like [glide](https://github.com/Masterminds/glide).

[2016-05-03 22:53] xiam opened #172 "Database connection is not returned to the pool after Commit/Rollback"
Happens with the PostgreSQL driver. Is this a bug? Can we prevent it somehow?

[2016-05-04 15:02] VojtechVitek opened #173 "v2: Methods to match SQL syntax?"
I understand that `Find()` is a special method name that actually wraps `SELECT FROM tablename` and `WHERE` clauses. That's fine.

But
1. why do we call `OFFSET` as `Skip()` method?
1. why do we call `ORDER BY` as `Sort()` method?

It was confusing from the very beginning until I got used to it. And I can imagine most of developers would feel the same. I'd propose to change this for v2, just to ma

[2016-05-04 15:14] VojtechVitek opened #174 "v2: Method to return slice of PKs only"
I'd like to be able to do this:
[code]

Instead of having to loop through result objects and parsing PKs myself:
[code]

[2016-05-04 15:20] VojtechVitek opened #175 "v2: result.All() to return TotalCount of rows natively"
Since some databases support counting total rows via Window Functions that are inexpensive, we may think of supporting this in upper/db v2:

PostgreSQL:
`SELECT COUNT(1) OVER() AS _count, * FROM users LIMIT 10 OFFSET 10;`

In databases where this is not supported, we'd have to make two queries:
`SELECT COUNT(1) FROM users;`
`SELECT * FROM users LIMIT 10 OFFSET 10;`

# Proposal:

[code]

### Altern

[2016-05-04 15:27] VojtechVitek commented on #149
For reference: #173, #174, 175

[2016-05-05 15:47] xiam opened #176 "Update() should accept raw params too"

[2016-05-13 11:36] xiam commented on #170
Yes. After releasing v2 we can adopt semver-compliant tagging.

[2016-05-13 11:43] xiam commented on #173
When using the SQL builder `OFFSET` is called `Offset()` and `ORDER BY` is `OrderBy()`, only when using the set-based `Find()` (which attempts to ensure compatibility with all supported databases) is when we use `Skip()` and `Sort()`, like what the `mgo` driver does.

I don't see any reason to keep that old naming around. Let's change this into `Offset()` and `OrderBy()`.

[2016-05-14 01:53] xiam commented on #175
This is database specific, so we won't be able to add it to `Find()`, but we can add something like this for the SQL builder, which is database specific, I'm not sure of the syntax though, I'm sure that after using the builder we'll come up with a nice idea.

[2016-05-14 02:13] #159 closed

[2016-05-14 02:17] #173 closed

[2016-05-16 19:09] xiam commented on #149
Current docs are here: http://beta.upper.io/db.v2

[2016-05-17 09:53] yookoala opened #183 "db.Unmarshaler documentation issue"
The description of [db.Unmarshaler][Unmarshaler] says "Unmarshaler is the interface implemented by structs that can transform themselves from storage data into a valid value". This is misleading.

The is similar to the description of [db.Marshaler][Marshaler]. It seems to imply you should implement both interface to the same type to get things work. But it is not true (according to my experience).

[2016-05-17 12:04] xiam commented on #112
Already supported in v2, we have the `String()` method which satisfies `fmt.Stringer` and provides just this.

[2016-05-17 12:04] #112 closed

[2016-05-17 12:05] xiam commented on #93
Current docs for v2: http://beta.upper.io/db.v2

[2016-05-22 20:00] xiam commented on #172
In v2 this is taken care of by https://github.com/upper/db/pull/184. Still need to backport the solution.

[2016-05-24 03:10] xiam commented on #183
Thanks @yookoala, I think we have it covered here: http://beta.upper.io/db.v2/getting-started#the-marshaler-and-unmarshaler-interfaces

[2016-05-24 09:16] yookoala commented on #183
Nice. Thanks @xiam  :-)

One note here. I'm usually a godoc user. Since the comment in [db.go][db.go] (6c9984c) is still not changed, the godoc generated from it will still confuse users.

Please consider to change "the interface implemented by **structs**" to "the interface implemented by **struct fields**" in these comments:

[db.go]: https://github.com/upper/db/blob/6c9984c71408ed856ade240ac45a

[2016-05-24 18:09] VojtechVitek commented on #175
## Alternative syntax no.2
[code]

[2016-06-06 11:35] abeMedia opened #188 "Support joins in mongo adapter"
Would be great if the mongo adapter supported joins via [$lookup](https://docs.mongodb.com/manual/reference/operator/aggregation/lookup/).

[2016-06-13 14:07] xiam opened #189 "Implement a signal to clear cache"
Accept a signal from the environment so upper can clean all caches at once without having to restart. Would be useful on migrations.

[2016-06-13 15:04] xiam opened #190 "Support for bulk insert"

[2016-06-26 19:24] xiam commented on #189
The `ClearCache()` method was added instead of the signal.

[2016-06-26 19:24] #189 closed

[2016-06-26 19:25] xiam commented on #183
This is fixed now, thanks @yookoala

[2016-06-26 19:25] #183 closed

[2016-06-27 16:23] pierrebeaucamp commented on #93
Hey,

Our CI started reporting that the import paths are broken:
[code]

I couldn't find any changelog between v1 and v2. Well keep on using v1 for now but it would be great to have this documented soon.

Thank you

[2016-06-27 16:32] xiam commented on #93
Hey @pierrebeaucamp, thanks for your report. This should not be happening as the import paths for `/db` are still pointer to the same old v1 code on [master](https://github.com/upper/db/tree/master):

[code]

Are you using a special version of Go or something else that I could try?

[2016-06-27 16:37] xiam commented on #93
Whoops, no, sorry, yep, this is in fact failing:

[code]

I'm looking into it. For a temporary fix please use:

[code]

[2016-06-27 16:45] xiam commented on #93
Hey @pierrebeaucamp, looks like the problem was that I switched from `master` to `v2` as default branch on Github, it apparently affects the clones, even tho `https://upper.io/db?go-get=1` returns the correct paths that use `master`. I switched back to `master` and it looks like it's working again:

[code]

[2016-06-27 17:04] pierrebeaucamp commented on #93
Thanks for the fast reply @xiam. It is indeed working again.

Still, I expect that we have to change our import paths sometime soon anyways. It would be great to know what changed from `v1` to `v2` so we can migrate to `v2` more easily.

Thank you.

[2016-06-29 14:46] pkieltyka commented on #176
@xiam is this still relevant?

[2016-06-29 14:49] #174 closed

[2016-06-29 14:59] pkieltyka commented on #172
@xiam I personally feel we should close this, leave v1 as it is, and instead of fixing old v1 bugs, recommend users to upgrade to v2 -- what do you think?

[2016-06-29 15:00] pkieltyka commented on #170
+1, I think lets tag v1.0.0 and v2.0.0 and the import paths of "upper.io/db.v1" and "upper.io/db.v2" can point to the latest versions of the majors

[2016-06-29 15:01] pkieltyka commented on #167
@xiam I personally think we should leave v1 in history and not continue to support it, and close this ticket

[2016-06-29 15:01] pkieltyka commented on #149
well done!

[2016-06-29 15:01] #149 closed

[2016-06-29 15:05] pkieltyka commented on #142
@xiam can you confirm v2 sqlbuilder supports this? let's close this if so

[2016-06-29 15:08] pkieltyka commented on #140
is this fixed in v2...?

[2016-06-29 15:10] pkieltyka commented on #129
please upgrade to upper v2 where this is fixed

[2016-06-29 15:10] #129 closed

[2016-06-29 15:11] pkieltyka commented on #123
@xiam do we support cache clearing now in v2?

[2016-06-29 15:13] pkieltyka commented on #93
@pierrebeaucamp we're going to add a "upper.io/db.v1" import path, so you'll have to very soon search+replace your import paths to that as upper.io/db is going to require the mainline canonical import path of upper.io/db.v2

[2016-06-29 15:14] xiam commented on #123
Yes we do, with `sess.ClearCache()`, this shouldn't be a problem anymore.

[2016-06-29 15:15] #123 closed

[2016-06-29 15:18] xiam commented on #172
Yes I agree, that would be better.

[2016-06-29 15:18] #172 closed

[2016-06-29 15:20] xiam opened #193 "v2: provide a migration guide"
Doesn't have to be too extensive, only the things that changed, renamed method calls, etc.

[2016-06-29 15:22] xiam commented on #93
And we'll add a list of things that changed to make migration easier: https://github.com/upper/db/issues/193, most cases will require a string replace.

I'm closing this since we have live docs for v2 at https://upper.io/db.v2, old docs are at https://upper.io/db.v1

[2016-06-29 15:22] #93 closed

[2016-06-29 17:43] xiam opened #198 "v2: Add WithSession() support"
Need to think on the syntax, but this call can wrap a regular `*sql.DB` or a transaction and provide a db session. Make sure we have this test in place: https://github.com/upper/db/pull/192

[2016-06-29 20:02] pkieltyka commented on #89
When considering an API for cursors / pagination for upper and querying data, first we need to decide on the mechanics.

For example, pagination typically uses things OFFSET and LIMIT to fetch a page of results at a position in the result set.

Whereas a cursor will fetch a chunk of results based on a previous value. Cursors are definitely better since they're more accurate to give you a consisten

[2016-06-29 20:09] VojtechVitek commented on #89
Slightly related to #175 -- how to recognize if there're any more results after OFFSET LIMIT => next page exists?.

[2016-06-29 20:15] pkieltyka commented on #89
for pagination.. I can envision an API like...

[code]

the db.Paginate() would copy the result, set the Offset and Limit values as it traverses the queries+rows, it would keep going until it couldn't find any more rows, and then would stop paging. It's just an initial concept and I can see it improved even further

[2016-06-29 20:27] pkieltyka commented on #89
[code]

[2016-06-30 11:50] xiam commented on #89
Another case that occurs to me is when doing an asynchronous request to get an specific page, like `?page=3`, we could use:

[code]

But I am not too sure about that last `cursor = cursor.NextCursor("id", rows)` line at the end of the loop, looks like something that can be forgotten, if we need it we could probably remove it from there and hide it inside `cursor.Next(&rows)`.

We need the total co

[2016-06-30 13:57] pkieltyka commented on #89
@xiam good points about being able to pass back a cursor window or a page. I'll work on this a little bit later. Keep in mind, pagination and cursors are different thing. As well, its easy to know when all of the data has been received by counting the objects that come out from each page, once we get less rows than the LIMIT size, then we know we're done.

[2016-06-30 14:01] pkieltyka opened #199 "Move v1 to upper.io/db.v1 and merge v2 to master"

[2016-06-30 14:03] pkieltyka opened #200 "Move third party benchmarks to github.com/upper/db-bench"

[2016-06-30 14:40] pkieltyka opened #202 "v2: document all use of interface{} in db.go"
For core interface types like `Database`, `Collection`, and `Result` in the `db` package, since we use interface{} a lot for inputs/outputs, we should make sure to include comments that describe the kinds of values to expect and also describe how we handle safety (ie. if its at runtime etc.).

db/db.go must be super solid and clear, as its the center of all of upper

[2016-06-30 19:47] pkieltyka opened #205 "v2: find a place for the sql scanner and valuers"

[2016-06-30 19:47] pkieltyka commented on #205
related to discussion in #204

[2016-06-30 21:18] VojtechVitek commented on #130
Proposed error types:
- No more data (NoMoreRows)
- Input error (SQL syntax, etc.)
- Data integrity error (constraints etc.)
- Network error
- Driver error (errors thrown by underlying adapters)
- Unknown (anything else..)

[2016-07-04 18:22] pkieltyka opened #207 "v2: move a few libs to lib/ or util/"
What do you think about moving a few of the utility packages to a `lib/` or `util/` folder? such as:
* util/sqlbuilder
* util/reflectx
* util/cache or util/sqlbuilder/cache if its sqlbuilder-specific

the reason I'm suggesting this, is upper/bond requires the use of util/reflectx, and reflectx isn't sqlbuilder-specific, its a general utility library to manage struct tags.

let me know your thought

[2016-07-06 16:02] xiam commented on #207
Since we need reflectx to be public and we don't want to pollute the root source dir this sounds like a good solution. I'd go for:

* `lib/sqlbuilder`
* `lib/sqlbuilder/cache` (`cache` is sqlbuilder specific, I don't really think it could be used outside it.)
* `lib/reflectx`

[2016-07-06 16:02] xiam commented on #207
Perhaps we can find a place here for: https://github.com/upper/db/issues/205.

[2016-07-06 16:05] xiam commented on #199
We'll need to do manual testing for this and ensure the current import paths don't break. We also need to come up with migration instructions for current v1 users.

[2016-07-07 21:05] ivan-iver commented on #140
I had this problem previously, one way would be to use a raw query like:

[code]

Perhaps it is not better solution but it worked for me. I don't know if the next query is possible too.

[code]

But it could be possible had an upper instruction like:

[code]
Hope this helps.

[2016-07-21 23:15] UnnoTed opened #208 "v2: multiple exec doesn't work"
it only exec once (only the first one is executed)
using postgresql:
[code]

same thing when i use only a loop with `_, err = session.Exec(i)`

EDIT: nvm, using a wait group solves the issue

[code]

[2016-07-22 00:16] xiam commented on #208
Hey @UnnoTed, were you firing that Exec inside a goroutine originally? Using a waitgroup shouldn't be required.

[2016-07-22 00:27] UnnoTed commented on #208
there was no goroutine before using the wait group, i even tested with [go-pg](https://github.com/go-pg/pg) and it worked without a wait group

[2016-07-22 00:28] xiam commented on #208
Ok, thanks @UnnoTed, I'll keep this open and I'll a test just to make sure.

[2016-07-22 03:16] xiam commented on #93
Hey @pierrebeaucamp, we're doing another try at making v2 the default branch, the expected behaviour is not breaking current import paths, it works well on my testing but please let me know if you have any problem with your builds. We're also preparing a [migration guide](https://github.com/upper/db/issues/193), it should be ready soon.

[2016-07-31 14:04] xiam opened #210 "v2: wrong cache for raw SQL statements"

[2016-08-01 02:12] #210 closed

[2016-08-01 02:13] xiam commented on #208
@UnnoTed I confirmed and fixed this nasty bug. Thanks for finding this out!

Closed by https://github.com/upper/db/pull/211

[2016-08-01 02:13] #208 closed

[2016-08-04 12:34] xiam commented on #207
`sqlbuilder` and `reflectx` are now inside lib.

[2016-08-04 12:34] #207 closed

[2016-08-04 12:56] xiam commented on #199
The old import path `upper.io/db` is still working as it used to, that prevents breaking legacy users that are not still using vendoring.

We have branches and tags `v1` and `v0.9`, those are deprecated and will be kept only to make room for potential security fixes, etc.

Branch `v2` is currently the main branch on the repo, we'll use it for any `v2` related development. Finally, `master` has bee

[2016-08-04 12:56] #199 closed

[2016-08-04 12:56] xiam commented on #170
Please see https://github.com/upper/db/issues/199#issuecomment-237544362

[2016-08-04 12:56] #170 closed

[2016-08-04 12:58] xiam commented on #198
Closed by https://github.com/upper/db/pull/206

[2016-08-04 12:58] #198 closed

[2016-08-04 12:58] xiam commented on #167
Agreed.

[2016-08-04 12:58] #167 closed

[2016-08-05 13:28] xiam opened #214 "mongo: Reinitialize DB on issue on Clone()"
This works for v1, but we need it on v2. https://github.com/upper/db/pull/212/files

[2016-08-05 13:50] pierrebeaucamp commented on #214
Note that each `mgo.Collection` holds a pointer to a `mgo.Database` as well (which in turn has a session again).

[2016-08-08 14:40] c2h5oh commented on #190
Proposed syntax/behavior:
[code]
should just work - `RETURNING id` works with multiple rows too and maintains order of returned IDs.

[code]
1. Opens (or continues) a transaction
2. Inserts batchSize items at the time
3. Hands of (or commits if it has started it) transaction

Batch size control is necessary, because:
* database/sql is using prepared statements, which in case of PostgreSQL for exam

[2016-08-08 16:26] xiam commented on #190
I am not convinced passing an array would be ideal, when you use multiple `Insert` calls, do you already have a `[]MyStruct` with thousands of elements in RAM or do you prepare each element before inserting it? I think a streaming solution could work as well:

[code]

Then `Insert` can query `myIterator.Next()` until a reasonable value is met and then commit a multiple insert transaction, `Insert`

[2016-08-08 16:50] c2h5oh commented on #190
That would require you to do type checking in iterator/insert, because you can't send multiple `INSERT` without doing a db roundtrip on each, because most (all?) database/sql drivers use prepared statements.
That means you are forced to do `INSERT INTO table_name (col1, col2, ..., coln) VALUES (values for row 1), (values for row 2), ... (values for row k);
So on 1st insert for an iterator you'd ne

[2016-08-09 21:02] xiam opened #217 "Add support and sensible defaults for SetMaxIdleConns, SetMaxOpenConns and SetConnMaxLifetime"

[2016-08-10 02:39] xiam commented on #217
Closed by https://github.com/upper/db/pull/218

[2016-08-10 02:39] #217 closed

[2016-08-10 03:02] xiam opened #219 "Don't call Open() for new transactions, use the driver's connection pool whenever possible"

[2016-08-10 03:19] #219 closed

[2016-08-10 04:25] xiam commented on #214
I did the same modification you did, @pierrebeaucamp, thanks!

[2016-08-10 04:35] #214 closed

[2016-08-10 12:52] xiam commented on #193
https://upper.io/db.v2/migrate-from-v1

[2016-08-10 12:52] #193 closed

[2016-08-10 14:13] xiam opened #222 "godoc.org shows import paths that no longer exist"
Probably a caching issue

[2016-08-10 14:23] VojtechVitek commented on #219
Nice 👍

[2016-08-10 14:24] VojtechVitek commented on #217
👍  very useful

[2016-08-11 12:19] xiam opened #223 "Support for named queries"
I think this is a good addition for the query builder.

This would be like sqlx's NamedQuery: https://godoc.org/github.com/jmoiron/sqlx#Named, but we probably don't need to an a new method.

[2016-08-11 15:16] xiam commented on #190
@c2h5oh On second thoughts, I think the slice approach is the easiest and makes sense. This way users control how many things they want to insert at a time.

Any strong point against using a variable number of arguments? `Insert(...interface{})`

[code]

[2016-08-11 15:23] xiam commented on #190
Currently the sqlbuilder accepts this syntax:

[code]

[2016-08-11 15:46] c2h5oh commented on #190
I like the variadic function idea, provided it uses the `InsertInto` builder instead of running multiple separate inserts, which is the main reason why I wanted bulk insert support.

We still need to handle `RETURNING` for multiple insert IDs and that you can insert at most 65k/number_of_columns rows at a time (with PostgreSQL, other DBs may have different field number caps)

[2016-08-11 15:47] VojtechVitek commented on #190
@xiam I quite like the variadic arguments approach - but clients would have to handle the batch loop themselves, which I believe is against Maciej's intent:

[code]

with Maciej's approach, you'd just write
[code]

[2016-08-11 15:57] c2h5oh commented on #190
There is no reason not to have both. Default with no batch size and BatchInsert which would be the loop

[2016-08-11 16:01] VojtechVitek commented on #190
How about supporting channel?

[code]

[2016-08-11 16:03] c2h5oh commented on #190
What advantage would it have over a slice?

[2016-08-11 16:13] xiam commented on #190
I suggest we experiment with `Insert()` first, make it accept variadic, that sounds to me like a good first step. If we ever implement `BatchInsert` it could easily use `Insert()` inside. I think that we can come up with a good looping pattern for the slices or with another method. The channels approach looks interesting but I think the slice + variadic is more straightforward and kinda feels natu

[2016-08-11 16:15] VojtechVitek commented on #190
@c2h5oh the only advantage is that it would not eat memory like slices. In the above example, the goroutine would be blocked on `items <- user` after 20 items are in the channel and thus, inserting 10k users would make a difference.

[2016-08-11 16:16] VojtechVitek commented on #190
Sounds good @xiam.

[2016-08-11 16:17] pkieltyka commented on #190
My vote is to keep things simple and avoid pre-optimization.

[2016-08-11 18:36] c2h5oh commented on #190
@VojtechVitek it would not save any memory, because, as I wrote above, `database/sql` doesn't support streaming mode - so you'd have to build the array inside the loop channel consuming loop, not outside (by referencing it in InsertInto).

[2016-08-12 03:19] carlisia opened #224 "PreInsert/PostInsert"
I didn't find it documented anywhere that preinsert/postinsert is supported. Do you have plans to add this feature?

[2016-08-12 04:09] xiam commented on #224
Hello @carlisia,

We currently have no plans to add preinsert/postinsert to upper-db, we believe that would fall in the app designing realm and we want upper-db to focus only on easy data storage, retrieval and mapping.

But, we're also working on a package that provides such patterns, it extends upper-db, this package is called [bond](https://github.com/upper/bond), see the preinsert call for ins

[2016-08-12 15:31] carlisia commented on #224
@xiam I'm liking the approach you are taking to upper-db more and more. I'm gonna rip out gorp and use upper instead.

Any pointer for how to use pre/post insert with bond?

[2016-08-12 16:45] xiam commented on #224
Thanks for giving this project a try @carlisia! I'm going to work on basic docs for bond during the weekend. I just [opened an issue there](https://github.com/upper/bond/issues/22), it would be great if you could help us review this documentation. I'll ping you soon.

[2016-08-12 21:02] VojtechVitek opened #226 "invalid driver connection: Re-connect automatically (at least once)"
When DB is restarted, all connections are lost and thus invalid. Currently, upper/db returns `invalid driver connection` error back to the caller. Instead, it should should clean-up the connection pool and try to re-connect to the DB (at least once).

Ideally, the `invalid driver connection` error would be exposed to the client only on interrupted transactions or when upper/db couldn't reconnect t

[2016-08-12 21:03] pkieltyka commented on #226
Yea I think this would be very helpful.. and I think it should keep trying to reconnect, without slamming the server.. try once every 5 seconds

[2016-08-12 21:05] pkieltyka commented on #226
it should be a just-in-time mechanism tho.. so as application code requests a connection to make a query, if the last command failed, it try to reconnect, but if it tried within 5 seconds, then it wouldnt try until 5 seconds from now.. ultimately whatever is the easiest / cleanest way and not having to poll in a goroutine and being okay with some errors during the time a connection couldnt be foun

[2016-08-20 17:57] solojavier commented on #175
Is the SQL Builder something that already exists? Or something that needs to be worked on?

[2016-08-20 18:21] xiam commented on #175
Hey @solojavier, the SQL builder already exists, we have some working examples here: https://upper.io/db.v2/lib/sqlbuilder

[2016-08-22 13:44] solojavier commented on #175
So the count feature can be added by using the SQLBuilder? I'm trying to understand what is required to resolve this issue...

[2016-08-22 13:45] solojavier commented on #176
I think this issue can be closed since a commit was added to resolve this on May

[2016-08-22 13:57] xiam commented on #176
Good catch @solojavier, we didn't merge that commit on v2, tho, seems we still need to add a test and make sure it works on v2 too. I'd keep this open until we have a test confirming this was solved.

[2016-08-22 14:21] xiam commented on #141
Hey @VojtechVitek, we can now use `q.OrderBy(db.Raw("CASE .... END"))` and the `SortByField` method in your example could return a raw statement. Would this solve your problem?

[2016-08-22 14:28] xiam commented on #200
Hey @ArturoVM,

Currently we can run tests using the https://github.com/upper/db-testing-environment repository or a locally deployed environment with all the databases we use and something like:

[code]

To run  benchmarks we use

[code]

Both tests and benchmarks are [generated](https://github.com/upper/db/blob/v2/postgresql/Makefile#L28) using [go generate](http://blog.golang.org/generate)

Sin

[2016-08-22 14:52] ArturoVM commented on #200
Hey there, sure! Which branch should I work on?

[2016-08-22 14:53] xiam commented on #200
Create a new one `issue-200` here and use `master` on the other side.

[2016-08-22 17:59] VojtechVitek commented on #141
Yes, it can be done manually via raw query - we do it that way in our project.

Question is, do you want upper/db to support this as well?

[code]

or do you prefer clients to write their own:

[code]

[2016-08-22 21:26] VojtechVitek opened #228 "Separate connection pool for read-only/standby DB servers for high availability"
Upper/db could abstract Primary (read/write) vs. Standby (read only) servers for high availability:

[code]

Read operations -> any server
[code]

Write operations -> Primary server only
[code]

[2016-08-22 21:55] pkieltyka commented on #228
@VojtechVitek I've gone through these kinds of ideas in the past with other databases, and I find this is more trouble than it's worth. ie. if you write then read immediately, the data will be inconsistent since PG can not guarantee it will replicate to the read as fast as you read again.

I also recently asked in a #postgresql irc channel about replication and standby servers, and the room though

[2016-08-22 21:55] pkieltyka commented on #228
if the goal is HA, there are better ways. If the goal is performance, there are other ways.. and for us, performance isn't an issue.

[2016-08-22 23:50] carlisia commented on #224
@xiam I've made progress using upper db. I'm at a point where I could use some helpers for things like fetching relations. Is this something that bond would also provide? I'm starting to look through that code to try and figure it out.

[2016-08-23 00:39] xiam commented on #224
Hey @carlisia!

I haven't been able to start this task as I wanted... been pretty full lately, I'm sorry.

I think that going thru the bond's test file (https://github.com/upper/bond/blob/master/bond_test.go) could be useful in the meantime.

Basically we create a struct that represents the objects we have on a database:

[code]

This struct can have the hooks you were referring to:

[code]

All t

[2016-08-23 00:57] xiam commented on #224
Hah, looks like we were here at similar times!

Bond doesn't provide automatic relations, the problem is that most of the time doing relations right requires some SQL tricks so we prefer to do them using the  SQL builder, see https://upper.io/db.v2/postgresql#sql-builder and https://upper.io/db.v2/lib/sqlbuilder#select-statement-and-joins

I think that if you already started using upper-db you can

[2016-08-23 00:59] xiam commented on #224
Another example (that we're clearly missing):

[code]

[2016-08-23 01:04] carlisia commented on #224
Ok awesome. I appreciate the explanation. I wanted to explore what else there was. This is all I need to get this part going. Thank you so much.

[2016-08-23 19:51] solojavier commented on #222
Seems similar to this one: https://github.com/golang/gddo/issues/367

So probably just visiting the paths that don't exist will fix it.

I can help with that, but can you add more details on what are the import paths that should not be shown?

[2016-08-23 22:25] carlisia commented on #224
Ok, I wonder what I'm doing wrong. I will ultimately need to use a `select` with a `join` and conditions (similar to your example above.) But to get started, I'm trying to run the simplest select and am getting an error. Here's the code equivalent to what I'm trying to do:

[code]

And here's the error I'm getting:

[code]

Is it complaining about the `&profile` argument? That is not supposed to b

[2016-08-23 22:38] xiam opened #229 "Missing test for Iterator().One()"
The implementation is failing as we can see here: https://github.com/upper/db/issues/224#issuecomment-241899930

[2016-08-23 22:52] #229 closed

[2016-08-23 22:59] xiam commented on #224
No you're correct! that should have worked, I've just pushed [a fix and a test case](https://github.com/upper/db/pull/230) so it doesn't happen again. Thanks for catching that!

Please see the demo here:
https://demo.upper.io/p/7d9604d4fa2018298c919d99b07662b9ab7de6e9

We have two ways of doing that, one uses sess.Collection and Find and the other uses the SQLBuilder. You can use the one that you

[2016-08-23 23:01] carlisia opened #231 "Select() should detect cases with `*`"
If this is possible:

[code]

Should this not be possible?
[code]

I get this error:

[code]

I could create a slice of []profiles and use `All(&profiles)` instead of `Select()`, but since ultimately I will filter out this sql down to only 1 record, it seems sort of unnecessary. I'm trying to explore if maybe this is possible but I'm doing it wrong!

[2016-08-23 23:09] xiam commented on #231
The problem here is that `Select` incorrectly thinks that ` * ` is a column and tries to escape it with quotes. This could be fairly common, so I think we can detect this case and not fail.

By default, `Select()` without arguments uses `*`:

[code]

In case you don't want anything to be escaped on a parameter, you can use `db.Raw`:

[code]

Also, in case you suspect the query builder is doing som

[2016-08-23 23:15] pkieltyka commented on #231
+1 to detect this special case and handle it implicitly

[2016-08-23 23:31] carlisia commented on #231
Great. Valuable pointers for how to use it properly, for debugging, and for alternatives, thank you so much @xiam.

[2016-08-24 00:22] carlisia commented on #224
Question: I like the idea of using Collections whenever possible too. Is there a way to use Collections as an alternative way to do this:

[code]

I'm not finding anything that looks equivalent to a Join that could be used on a Collection.

[2016-08-24 00:45] xiam commented on #224
No, currently a collection can be bound only to one table.

We used to have something like that in v1 but that was removed in v2 because it started to become too inflexible, it was something like this:

[code]

That syntax worked for simple queries but it became too awkward when trying to do special LEFT, RIGHT or OUTER joins, so we decided to drop that option in v2.

If you can come up with a nic

[2016-08-24 04:00] carlisia commented on #89
Are you guys still considering pagination?

[2016-08-24 14:42] carlisia opened #233 "Question about embedded structs"
Does upper support embedded structs?

[2016-08-24 16:39] xiam commented on #233
Hello @carlisia, yes it does, please see https://upper.io/db.v2/examples#embedding-structs and the example below https://demo.upper.io/p/a8413717a82f50171372f4239a71788c54870a68

[2016-08-24 16:41] xiam commented on #89
@carlisia We're still considering it, haven't decided yet on how to solve this issue.

[2016-08-24 17:40] carlisia commented on #233
Of course! Thank you for pointing it out. Gonna close this.

[2016-08-24 17:40] #233 closed

[2016-08-26 16:58] ArturoVM opened #237 "Connections are not properly closed when a transaction is in progress"
It appears that the new behavior is not automatically closing connections after a call to `Commit` or `Rollback` is made, leading to some faulty logic in the `Close` function.

https://github.com/upper/db/blob/v2/internal/sqladapter/database.go#L189-L197

[2016-08-26 18:57] carlisia opened #239 "Question about db errors"
Trying to figure out how to discern if an error returned from a db call is, for example, a db connection problem vs. a record not found. Looking through the code and not finding.

Is there a way?

[2016-08-26 19:04] xiam commented on #239
Hello @carlisia,

Yes, we have a list of exported errors here: https://github.com/upper/db/blob/v2/errors.go#L29, you could check against the error you're expecting (like record not found, which is quite common) and fail if any other type of error was found:

[code]

Btw, thanks for asking! this is really helping us a lot to detect missing pieces on our docs.

[2016-08-26 19:06] carlisia commented on #239
Perfect!

Well, thank you for being so responsive. It made all the difference in my choosing to use upper db. I  should say that I'm really happy with it so far.

[2016-08-26 19:07] carlisia commented on #239
I should say the documentation as is is also pretty good and it was encouraging. :)

[2016-08-26 19:17] xiam commented on #239
Thanks!

[2016-08-26 19:17] #239 closed

[2016-08-26 19:26] xiam commented on #237
Hello @ArturoVM!

The old behaviour here was using `database.Open` for every new transaction, and that was creating huge pools. This was more evident for PostgreSQL and MySQL. So we're not explicitly creating new connections anymore, thus we don't need to close them anymore. Resources are freed by Commit/Rollback: https://golang.org/pkg/database/sql/#Tx.

But, there's a thing here, sqlite does not

[2016-08-27 21:12] mischief opened #240 "file descriptor leak in sqlite transaction"
hi, i'm unsure if this is a problem with upper or sqlite, or just an error in my code, but i haven't figured it out.

[code]

this results in something like...

[code]

if you watch the fd count with something like:

[code]

you'll see the fd count goes pretty high (~8192 here) and then the app errors out with EMFILE internally.

i can reproduce this without the `libsqlite3` tag as well.

any clue

[2016-08-27 21:16] mischief commented on #240
it looks like #237 is either the same issue or closely related.

[2016-08-29 14:08] xiam commented on #240
Thanks @mischief! this issue has been confirmed and we believe this is related to that other issue, we're working on a fix.

[2016-08-29 15:49] #228 closed

[2016-08-29 16:50] ArturoVM commented on #240
Hi @mischief! This issue should be properly solved in https://github.com/upper/db/pull/238 with the most recent commits. I'm just waiting for @xiam to approve them (:

[2016-08-29 21:20] VojtechVitek opened #241 "fatal error: concurrent map writes"
[code]

[2016-08-29 21:20] VojtechVitek commented on #241
https://github.com/upper/db/blob/185092e/internal/sqladapter/exql/template.go#L80

[2016-08-29 21:21] pkieltyka commented on #241
we need a lock

[2016-08-29 21:27] pkieltyka commented on #241
perhaps we should do something like..

[code]

[2016-08-29 21:57] #241 closed

[2016-08-30 21:47] #237 closed

[2016-08-30 21:47] #240 closed

[2016-08-30 21:49] xiam commented on #240
I tested this and it's working again @mischief, thanks for your report!

[2016-08-30 21:56] xiam commented on #190
Now we can use this syntax for batch insertion:

[code]

as we can see here: https://github.com/upper/db/pull/232/files#diff-722ffef9dd3233b49e440b23ab45536dR1081

The only thing that is still pending here is making `Append()` accept multiple arguments:

[code]

For this to work, all arguments must be of the same type.

[2016-08-30 21:59] xiam commented on #231
Would you like to try adding a test and a fix for this issue, @ArturoVM?

[2016-08-31 14:01] ArturoVM commented on #231
Sure!

[2016-09-01 22:59] IndieLightAndMagic opened #245 "go get: Segmentation Fault on Ubuntu + packaged Go"
`go get upper.io/db.v2
Segmentation Fault`

[2016-09-01 23:01] xiam commented on #245
Hello,

Would you mind providing more info on how to reproduce? OS, Go version.

This works fine here:

[code]

[2016-09-01 23:04] IndieLightAndMagic commented on #245
[code]

[2016-09-01 23:05] IndieLightAndMagic commented on #245
mmmm the go version looks weird:

vagrant@gophers:~/work$ go version
go version xgcc (Ubuntu 4.9.3-0ubuntu4) 4.9.3 linux/amd64

[2016-09-01 23:09] IndieLightAndMagic commented on #245
mm
Did try that

vagrant@gophers:~/work/src/upper.io/db.v2$ go build
# upper.io/db.v2
./db.go:190:6: error: expected operand
  for range c {
      ^
./db.go:190:6: error: expected ‘{’
./db.go:190:6: error: expected ‘;’ or ‘}’ or newline
./db.go:193:2: error: expected declaration
  return true
  ^
./db.go:194:1: error: expected declaration
 }
 ^
./db.go:192:2: error: missing return at end of functi

[2016-09-01 23:10] IndieLightAndMagic commented on #245
to me it looks like i do not have the proper go ... what do you think?

[2016-09-01 23:11] xiam commented on #245
Yeah, that's pretty odd, how about using Go from https://golang.org/dl/?

[2016-09-01 23:35] IndieLightAndMagic commented on #245
Ok like a charm , I guess i had installed the gcc go project, Im not really sure

Guess you can add an installation script that enforces installation of google's go. (At least 1.6) tested with 1.7 and worked.
btw great work!

[2016-09-01 23:39] #245 closed

[2016-09-03 09:00] dc0d opened #246 "Question: How to perform an optimistic update"
First thanks for amazing package! :D And excuse me to ask the question here - I did not fine a google group or other kind of community link on the page.

There are these models with id and updated_at. How to perform an optimistic update on these?
I do not know if this is optimistic. Does update uses the same cond for Find?

[code]

[2016-09-03 11:39] xiam commented on #246
Hello @dc0d!

No problem, feel free to ask here while we setup a community somewhere else.

When you're using Find you're creating a result set, and this result set can be used to do different things, something like this would work:

[code]

We don't really have optimistic updates in place, we're one layer below that.

By the way, are you actually using Open and Close within this method? I think y

[2016-09-03 12:20] dc0d commented on #246
Thanks for the quick response!

1 - Great! Hope it will be a google group. I find "chat"s least constructive and in google groups we'll have an acceptable search. Personally I do not like to put questions alongside "issue"s. When I see a repo with lots of issues, it goes a bit like Arrrrrg!

2 - You are right. Yet I'm doing this because 1) it's yet development phase and 2) I did not find a nice re

[2016-09-03 13:11] xiam commented on #246
Yes, we definitely need a place for questions, we'll provide one soon. You can still pass conditions to `Find()`, if these conditions are different than the original ones you could create another result set: `err = col.Find(otherConditions).Update(item)`. If the SQL you're trying to build doesn't look like `UPDATE foo SET ... WHERE ...` and you need something more specialized than that try https:/

[2016-09-03 13:53] dc0d commented on #246
Awesome! It does exactly what I meant to do! (Sorry for any inconveniences) Prettified:

[code]

Should this question get closed?

[2016-09-03 13:55] xiam commented on #246
Great, thanks for your confirmation!

[2016-09-03 13:55] #246 closed

[2016-09-03 14:15] dc0d commented on #246
One another question (Sorry):

`.Find(...)` and `.Update(...)` work great and lets us to do optimistic updates. But I can not find out if the update actually happened or not. Is there a way to get **_number of affected rows_** or something?

[2016-09-03 17:57] dc0d opened #247 "Number of affected rows after calling Update"
How to get number of affected rows after calling `Update(...)`?

Consider this code:
[code]
The generated SQL update command has a where clause that may or may not get met. How to find out if any rows got actually updated at point `(A)`?

[2016-09-03 22:21] xiam commented on #247
Hmm, good question. There's currently nothing in place that gives you this when using a result set, you could count matches before updating (within a transaction) but that's not always the number of affected rows:

[code]

[2016-09-03 23:30] dc0d commented on #247
In this specific app (my current project), another round of going to database (with same constraints) solves the problem - though not desirable - and it is needed AFTER the update - not before.

IMHO It seems as an essential feature for any app substantially complicated and I would like to see it added, but it might be just me.

[2016-09-04 00:59] pkieltyka commented on #247
I disagree. It's an expensive operation. You want a count of output, use len()

Data sets are huge, use a cursor.

[2016-09-04 05:09] dc0d commented on #247
When we execute a command like this in a database:

[code]

The database returns a number as the result. That's the number I want to retrieve. It's just standard SQL.

It has nothing to do with `len` or `cursor`. Am I missing something?

[2016-09-04 11:45] xiam commented on #247
I think this is possible with `database/sql`'s `RowsAffected()`, the problem here is that, as far as I know, this depends on the database, MongoDB doesn't have a feature like this and the SQL databases that have it exhibit inconsistent behaviour, for that reason we won't be adding it to `Find().Update()` (we're making an effort to make the `Find()` syntax result-set oriented and as agnostic as we

[2016-09-04 13:25] dc0d commented on #247
Thanks!

Most databases we use in our day to day tasks are RDBMSes and the only exception for upper.io/db is MongoDB - not the other four.

Yes; I think `RowsAffected` does what explained above. Yet IMHO exposing that (or the underlying `res`) somehow would be handy. As I understand the session (`sess`) object should not be used concurrently. So we could have something like `sess.LastResult()` (ju

[2016-09-05 15:44] paroxp opened #248 "Migrations"
Hey there.

Have you considered the cross database migration schema?

Something like:
[code]

I've written little migration tool my self using `sqlx`, which reads SQL files from the folder and executes the query. However, my solution isn't multi-database friendly. SQLite will fallout on some `sql` written for MySQL.

Thanks!

[2016-09-06 15:17] VojtechVitek commented on #247
Kinda similar to #175 (for SELECT statements).

Having number of affected rows could be very helpful, especially when you run something like
`UPDATE users SET age=20 WHERE age <= 0`. There's no other way to get the result, except for the RETURNING clause in Postgres.

[2016-09-09 07:26] dc0d commented on #247
@xiam after some time using the sql builder, I could say, I can live with that; though it's not as nice as the collection based DSL. I think you should point out the `RowsAffected` in Update section of the documents on the site.

BTW Are sessions concurrent safe?

[2016-09-14 12:56] xiam commented on #231
Closed by https://github.com/upper/db/pull/244, thanks @ArturoVM

[2016-09-14 12:56] #231 closed

[2016-09-14 12:59] xiam commented on #247
Hello @dc0d, sorry for the delay! I think you're right, we should explain about RowsAffected, I'll keep this issue open until providing docs for that. Sessions are concurrent safe, you usually need only one long-lived session per database.

[2016-09-14 13:06] xiam commented on #248
Hello @paroxp,

We certainly haven't considered this on our pipeline yet, if we do it would be similar to https://bitbucket.org/liamstask/goose/ (with SQL files) we want to keep CREATE TABLE-like definitions on the SQL side as CREATE TABLE statements are difficult to describe consistently on different databases.

[2016-09-15 02:29] carlisia opened #249 "guru: couldn't load packages due to errors"
It seems that this might be a bug.

I get this whenever I try to run one of the Go Guru commands, such as `:GoWhicherrs`, from vim-go.

[code]

[2016-09-16 00:19] on99 opened #250 "Elegant way to record sql and execution time, etc"
Hi there,

I would like to record all the sqls executed and the elapsed time but I cannot find an elegant way. Is it possible to wrap any interface so user can access to the sql before/after executed? It's even better if I can wrap the error returned.

pseudocode:

[code]

[code]

[2016-09-16 17:40] xiam commented on #250
Hey @on99, if you do something like:

[code]

You can see all times, generated SQL and errors of your queries, does that help in your case?

[2016-09-16 17:55] xiam commented on #249
Hey @carlisia,

Pretty odd, just reproduced it too. Not sure if this bug falls on upper-db's end tho, I'll do some more experiments.

[2016-09-17 14:45] on99 commented on #250
@xiam Thank you for your reply.

That's nice for debugging in dev but it's not good enough though because I want to send all the slow queries, errors to central logging system in production. I also want to wrap the errors returned by sql drivers, for example, I would wrap a error returned by `go-mysql-driver` with errno `1062` as a custom error `ErrDuplicated`.

[2016-09-20 05:18] xiam commented on #250
Hello @on99,

We currently don't have anything in place to achieve different logging mechanisms, the reason is that most databases already have a specialized slow query log and log-to-file settings with rotation, etc. (like http://dev.mysql.com/doc/refman/5.7/en/slow-query-log.html, for instance) and I doubt we could do it better than them, however, we could make the logger a configurable value, t

[2016-09-20 05:26] xiam opened #251 "Change branching scheme"
Having branches `v1`, `v2` and `master` is getting confusing and could make contributions harder. Let's move to version tags and make the `master` branch the current major version's stable.

[2016-09-20 14:04] #249 closed

[2016-09-20 14:07] xiam commented on #249
Thanks for your report @carlisia, should be working now.

[2016-09-22 17:14] #200 closed

[2016-09-22 20:22] pkieltyka commented on #248
goose works very well for us. We forked it to make it better here: github.com/pressly/goose

I suggest, if you're going to write a migration tool, model it around goose and just make the code better.

[2016-09-23 06:27] on99 commented on #250
@xiam Sorry for my late reply.

It's OK if I have access to mysql slow-query log, but sometimes I do not. :-(

I think a logger is better even though some operations are still cannot be customized.

[2016-09-23 23:52] xiam commented on #251
`master` is the main branch again and we're going to use full semver tags to pin releases.

[2016-09-23 23:52] #251 closed

[2016-09-24 01:06] xiam commented on #250
I think this would be a nice addition, sometimes we're dealing with an odd error and it would be nice to be able to catch it and display a stack trace to see where it got originated.

[2016-09-24 01:09] xiam commented on #222
Seems like this was fixed by setting `master` as the main branch.

[2016-09-24 01:09] #222 closed

[2016-09-24 01:22] pkieltyka commented on #251
:) thanks @xiam!

[2016-09-24 01:39] xiam commented on #89
I've been thinking on this problem and on the suggestions, I think that it would be great if we find a way to reuse familiar concepts:

[code]

We could do something similar for the SQL builder:

[code]

What do you think of this @carlisia, @VojtechVitek, @pkieltyka?

[2016-09-24 01:42] pkieltyka commented on #89
@xiam very nice! i think thats worth a prototype, and makes sense for pagination. Once Paginate() looks good, we can try to implement a similar thing for like q.Cursor(xxx), because cursors are very useful but would be subtly different

[2016-09-30 21:00] c2h5oh commented on #144
Doesn't look like a bond thing. Looks more like this line https://github.com/upper/db/blob/v2/lib/sqlbuilder/builder.go#L206

[2016-10-03 13:44] xiam opened #261 "db.Result.Update generates an invalid query if the user doesn't provides a valid argument"

[2016-10-03 16:29] VojtechVitek opened #262 "SetLogger panic"
[code]

[2016-10-03 16:31] VojtechVitek commented on #262
when using `UPPERIO_DB_DEBUG=1`

[2016-10-03 17:40] VojtechVitek opened #263 "Previous conditions are lost when calling .Where(cond) multiple times"
[code]

generates
[code]

---
Current behavior ref. https://github.com/upper/db/blob/master/internal/sqladapter/result.go#L82.

[2016-10-03 17:40] VojtechVitek commented on #263
2. Or we append second cond as AND condition
[code]

[2016-10-03 17:41] VojtechVitek commented on #263
2) Or we append second cond as AND condition
[code]

(like to vote)

[2016-10-03 17:45] xiam commented on #263
The current behaviour is overwriting the conditions, and I think it makes sense because an SQL statement with two WHEREs is illegal. So I'd add a 3rd) option, which is keeping the current behaviour.

3) Keep the current behaviour

[2016-10-03 17:51] pkieltyka commented on #263
hmm, this is an interesting one and I recall this happening too. I don't know what the right behavior is to be honest. The 4th option is to keep Where() the way it is, but add another directive like.. WhereAnd() and WhereOr() which would And or Or the additional conditions

[2016-10-03 18:01] c2h5oh commented on #263
Option 1:
- a panic is too much - error should be enough
- doesn't allow you to alter existing query

Option 2:
- can lead to unexpected behavior if you are not careful
- doesn't allow you to alter existing query beyond adding new conditions and only as AND

Options 3:
- can lead to unexpected behavior if you are not careful
- allows you to alter existing query as you like

Out of those 3 I prefer

[2016-10-03 18:07] VojtechVitek opened #265 "AND inconsistency"

[2016-10-03 18:07] xiam commented on #262
Thanks! fixed: https://github.com/upper/db/pull/264

[2016-10-03 18:07] #262 closed

[2016-10-03 18:08] VojtechVitek opened #266 ".Where() should always reset conditions"
https://github.com/upper/db/blob/9124ac188c6f50ea7ecb5459d0d2debc0e02f10b/lib/sqlbuilder/select.go#L74-L76
should reset the conditions RE: https://github.com/upper/db/issues/263

[2016-10-03 18:08] VojtechVitek commented on #263
Alright, good points.

So let's fix this inconsistency then: https://github.com/upper/db/blob/9124ac188c6f50ea7ecb5459d0d2debc0e02f10b/lib/sqlbuilder/select.go#L74-L76
https://github.com/upper/db/issues/266

[2016-10-03 18:08] #263 closed

[2016-10-03 22:47] xiam commented on #144
https://github.com/upper/db/commit/84df9ca5acbfc1bba4174c7431f0d48a3933654f

[2016-10-03 22:47] #144 closed

[2016-10-04 01:39] ArturoVM commented on #261
Hey @xiam. What do you think of this potential fix? Based on what we talked about catching the error earlier, I added checks before each query type is executed. It feels a bit hacky to me, but there is really no other way to do it, given each query type has its own conditions for them to be considered an incomplete query.

I could try, however, to abstract these checks into somewhere else into the

[2016-10-04 01:57] ArturoVM commented on #261
Hmmm… Never mind. Apparently assuming that a table must always be specified in a `select` statement is a wrong assumption, and it breaks some tests.

[2016-10-04 03:07] pkieltyka commented on #261
perhaps when running the query, the executor would return with an error that the query is invalid before it even attempt to run it

[2016-10-04 03:22] ArturoVM commented on #261
@pkieltyka: Thank you for your input. Yes, that's that what I did, and it works well in every case, except for `select` queries, where I assumed a table _had_ to be specified, but according to the tests, not specifying a table is valid in some cases. I'll have to look at which conditions in particular `select` queries are not valid.

[2016-10-04 12:37] xiam commented on #261
Yes, I think the approach of returning an error is better @ArturoVM, the PR looks good so far.

[2016-10-04 15:44] ArturoVM commented on #261
I'm removing the checks on `select` queries, for now. What effectively "executes" the query is the `iterator` type, and I've found it's used throughout a variety of scenarios, and not necessarily from the query builder, so it's possible to have, for instance, a raw query, in which case it's impossible to determine whether the query is invalid or not.

What do you think?

[2016-10-04 16:16] xiam commented on #261
We can't really check a raw query so I wouldn't mind that case. On the other hand, SQL statements that we generate must be valid or return an error, but we must try to not generate invalid SQL.

[2016-10-04 19:29] ArturoVM commented on #261
After much analyzing and looking, I think I finally found a condition that would help determine whether `select` queries are valid.

[2016-10-05 00:39] xiam commented on #250
Hello @on99,

We found your suggestion pretty useful and we've just released a centralized way to do this, please see https://upper.io/db.v2/examples#query-logger

We're still thinking on wrapping errors, please feel free to open another discussion and provide your use case if you feel like that's necessary.

Thanks!

[2016-10-05 00:39] #250 closed

[2016-10-05 16:09] xiam opened #270 "Don't evict prepared statements that are still in use"
If the cache evicts an statement before it has been used database/sql replies with `sql: statement is closed`.

[2016-10-13 14:31] #266 closed

[2016-10-17 18:55] xiam commented on #265
* [x] Fix Where/And on SQL builder.
* [ ] Add `And` to `db.Result`

[2016-10-18 01:13] #265 closed

[2016-10-19 17:26] xiam commented on #270
Closed by https://github.com/upper/db/pull/275

[2016-10-19 17:26] #270 closed

[2016-10-19 20:11] c2h5oh opened #276 "Update incorrectly counts arguments when slice arguments are used"
Example 1:

[code]
Generated SQL:
`UPDATE table SET some_column = $1 WHERE (id = $2 AND another_val IS NULL)`

Error when executing that query `sql: expected 2 arguments, got 3`

Example 2:

[code]
Generated SQL:
`UPDATE table SET some_column = $1 WHERE (id = $2 AND another_val IN ($3, $4, $5, $6, $7, $8, $9))`

Error when executing that query `sql: expected 9 arguments, got 17`

[2016-10-19 20:23] c2h5oh commented on #276
This also brings up another question: what if I want to compare array column to an array?

[2016-10-20 01:29] xiam commented on #276
Great finding! https://github.com/upper/db/pull/277 should close it.

Thanks,

[2016-10-20 01:29] #276 closed

[2016-10-20 15:24] c2h5oh opened #278 "Aliasing (.As) doesn't doesn't add alias in sql"
Expected:
`database.Select("column").From("table").As("table_alias").Where(db.Cond{"id: 10})`
generates `SELECT column FROM table AS table_alias WHERE id = 10;`

Actual:
`SELECT column FROM table WHERE id = 10;`

[2016-10-20 15:33] xiam commented on #278
Currently `As()` serves a different case and it's only used for wrapping subqueries: https://github.com/upper/db/blob/master/lib/sqlbuilder/builder_test.go#L516

Support for the case you mentioned is not implemented, but you can do the same with this:

[code]

Like in https://github.com/upper/db/blob/master/lib/sqlbuilder/builder_test.go#L227

[2016-10-20 19:41] c2h5oh opened #279 "db.Raw slice arguments that have fewer than 2 elements pass invalid query parameters"
Consider 3 examples:
1. `[]int64` with 2 elements as argument `.OrderBy(db.Raw("CASE WHEN id IN ? THEN 0 ELSE 1 END", []int64{1000, 2000})`
2. `[]int64` with 1 element as argument `.OrderBy(db.Raw("CASE WHEN id IN ? THEN 0 ELSE 1 END", []int64{1000})`
3. `[]int64` with 0 elements as argument `.OrderBy(db.Raw("CASE WHEN id IN ? THEN 0 ELSE 1 END", []int64{})`

All 3 generate the same, correct SQL:

[2016-10-20 20:54] c2h5oh opened #280 "And() & Or() override inner Cond elements relationship"
[code]

expected:
`WHERE (col1 = val1 AND col2 = val2) OR (col3 = val3)`

actual
`WHERE ((col1 = val1 AND col2 = val2 OR col3 = val3))`

The same happens with And

[2016-10-21 12:45] #280 closed

[2016-10-21 12:51] #279 closed

[2016-10-21 13:46] xiam commented on #280
If you want to be explicit about this (and to preserve condition order) use:

[code]

[2016-11-04 19:14] souzadevinicius commented on #98
+1

[2016-11-08 22:46] xiam opened #284 "Add db.Not"
For cases like:

[code]

[2016-11-08 22:48] xiam opened #285 "Make query retry-on-error optional"
Let's allow the user to enable or disable this feature.

[2016-11-18 21:29] crunchytom commented on #270
We are seeing upper.io rc6 not closing prepared statements at sufficient scale to cause problems in our app.  Investigating, but wanted to give you a heads up that this change may be problematic.

[2016-11-18 21:35] xiam commented on #270
Hello @crunchytom,

Thanks for letting us know, we also had trouble because of this and it seemed to be under control with the latest revision. We'll need more info to be able to help. Can you confirm the git revision you're using? and how did you realize this was the origin of your problem?

[2016-11-18 23:31] crunchytom commented on #270
we're seeing these errors from mysql:
[code]
but now that we are looking deeper I think it may have to do with the hashing function?  like, it's not seeing the same basic stmt as a cache hit and it's adding it to the cache over and over again, and never releasing.

[2016-11-18 23:44] pkieltyka commented on #270
@xiam perhaps we should change the behaviour in upper to not use prepared statements by default and instead just do interpolation with some query caching? this is what gocraft/dbr does: https://github.com/gocraft/dbr#faster-performance-than-using-databasesql-directly

[2016-11-19 00:26] crunchytom commented on #270
Fwiw we do very much enjoy the security protections of prepared statements against SQL injection. But maybe the cache could be optionally disabled via config.

[2016-11-19 00:31] xiam commented on #270
@crunchytom

We should never have more than 200 prepared statements, could you check and see what's the `github.com/go-sql-driver/mysql` revision you have? And on db.v2 you should be on `9e3ad92fec534e56b4bdb6d0166d94e2ae3c2771`. I'll try to make our test routine harder and see if I can find anything fishy on MySQL.

Also, how does this look like for you?:

[code]

[2016-11-19 00:51] crunchytom commented on #270
github.com/go-sql-driver/mysql: 8f6c67f0228a4a6a962008d6c3d1e694e4532e71
upper.io/db.v2: 9e3ad92fec534e56b4bdb6d0166d94e2ae3c2771

full disclosure, we are running mariadb.

We have rolled back to an earlier version, I don't have the output of show global status anymore from when the problem was occurring.  We did see that many statements were open and are not getting closed in rc6 v. the older upp

[2016-11-19 01:34] xiam opened #287 "Prepared statements cache may grow up too much under certain situations"
There seems to be something odd with prepared statements + MySQL which could mean we have another prepared statement leak.

This is a followup of: https://github.com/upper/db/issues/270#issuecomment-261646680

It would be ideal to find a query that gives the actual number of prepared statements on different databases, and add that query to our testing.

[2016-11-19 01:41] xiam commented on #287
Hey @crunchytom, while I try to reproduce and fix this on MySQL you could try out the `issue-287` branch or commit `6fb3b9b78bc6c846f4848203287ac8e1a161e650`. This branch doesn't use the prepared statement cache at all, it passes the query right to `database/sql` (which creates and drops a prepared statement by its own).

[2016-11-19 01:54] xiam commented on #270
@pkieltyka That's certainly possible, but I think it's safer to continue using prepared statements because we don't have to worry about escaping arguments, the database does that. Prepared statements have a performance penalty when they are created, used and then dropped, which is what `database/sql` does by default, this prepared statement cache is mean to keep references of the most commonly use

[2016-11-19 02:11] crunchytom commented on #287
thanks!!

[2016-11-19 13:26] xiam commented on #287
@crunchytom

Under particular circumstances I found errors like:

[code]

Which are printed to stdout by go-mysql-driver, do you happen to have a log or remember anything like that?

[2016-11-19 23:13] crunchytom commented on #287
Nothing like that in our logs, sorry.

[2016-11-22 15:57] xiam commented on #287
Hello @crunchytom,

Just a follow up, we're working on better testing for this and that's hopefully going to throw some light on this problem, how's `show global status like '%stmt%';` looking on your side?

[2016-11-22 16:14] xiam opened #288 "sql: statement expects 0 inputs; got 1"
This is a report from @alinz, code like this:

[code]

Produces:

[code]

[2016-11-22 17:29] crunchytom commented on #287
The 6fb3b9b78bc6c846f4848203287ac8e1a161e650 branch is better, all prepared statements are getting closed reliably.

[2016-11-22 17:37] xiam commented on #287
Awesome. We added a test for `master` (https://github.com/upper/db/pull/289) and could not find anything fishy yet. Any additional information that could lead us to replicate the problem would be very useful. We tested both mariadb and mysql, on versions 5.5, 5.7.

[2016-11-23 18:01] crunchytom commented on #287
Finally got a minute to compare stats between the two branches:

rc6 (using prepared stmt cache):
[code]

without prepared stmt cache:
[code]

For both tests, restarted mariadb.  FWIW, the app is pretty dumb about running the same queries again and again in fairly quick succession without saving the results.

[2016-11-24 00:27] xiam commented on #288
Hey @alinz,

The problem here seems to be the quotes around the `?` mark, in this case the database takes it as a string value instead of taking it as a parameter. In this case upper shouldn't change the `?` into `$1`, that's a bug on our end.

However, on your query, `%` is part of the parameter, try to pass it like this:

[code]

[2016-11-24 01:36] xiam commented on #287
Thanks @crunchytom, this is pretty useful.

One interesting thing is that, even though `Prepared_stmt_count` is low in both cases that number should be closer to 0 on the second result, because in that case every prepared statement is dropped by database/sql as soon as it used. This could just mean that you had ~50 goroutines doing something at the time.

I've reproduced the error you got (with `d

[2016-11-24 02:14] xiam commented on #285
I'll close this but will keep https://github.com/upper/db/issues/226 open

[2016-11-24 02:14] #285 closed

[2016-11-25 16:26] crunchytom commented on #287
* single long-lived session
* no transactions
* SELECT only

[2016-11-25 18:13] crunchytom commented on #287
I've been playing around with this today and I think I understand what's happening.  There is no leak.  However, we are running afoul of a "feature" of golang prepared statements:

from the docs - http://go-database-sql.org/prepared.html

Let's say we have 100 prepared statements in the cache, and enough concurrent traffic to cause 50 connections to the database to be in the pool.  Eventually, tho

[2016-11-25 18:35] xiam commented on #287
This is a pretty interesting observation, @crunchytom and I think it makes sense. The prepared statement cache is a global LRU with a limit of 128 items, when elements are evicted they're marked as ready to be closed, they're only closed for real when no other query is using the statement, so I guess that if you manage to have more than 16k different statements in-use at the same time then this ca

[2016-11-25 18:45] crunchytom commented on #287
update: the docs must be a bit dated, it's clear from the database/sql implementation that when the stmt is executed, it makes no attempt whatsoever to use a connection where it's been prepared already.  All it does is keep track of conns where it _has_ been prepared to avoid preparing more than once per conn.

[2016-12-04 16:20] linuxerwang opened #295 "Feture Request: database mocking on top of upper/db."
upper/db is a great database access layer, and it makes sense to be able to easily mock up the database access in unit tests on top of upper/db.

[2016-12-05 12:50] xiam commented on #287
Hello @crunchytom,

Your assumption was correct, the number of connections trying to prepare statements affected the prepared statement count.

We can't control the connection pool, if Go reserves a large pool and we bash it with concurrent queries (which are prepared per-connection) we can end up preparing a lot of statements before they get evicted. This can also happen without upper-db, but it'

[2016-12-05 12:54] xiam opened #296 "Use immutable statements on SQL builder"

[2016-12-05 14:58] pkieltyka commented on #295
@linuxerwang great idea for a potential contribution :)

[2016-12-06 04:59] rahuldaga opened #297 "InsertInto(): the db omitempty tag does not work for `db:"id,omitempty"`"
The omitempty tag for serial/auto incremented fields in the DB does not work as per the guide. It tries to insert the 0 value instead of omitting it.

for example

[code]

Logs:
2016/12/06 15:54:54
	Session ID:     00001
	Query:          INSERT INTO "foo" ("id", "title") VALUES ($1, $2)
	Arguments:      []interface {}{0, "Hello world"}
	Error:          pq: duplicate key value violates unique const

[2016-12-06 05:09] rahuldaga commented on #297
Simple use case

package main

import (
	"log"

	db "upper.io/db.v2"
	"upper.io/db.v2/lib/sqlbuilder"
	"upper.io/db.v2/postgresql"
)

const maxOpenConnections = 50
const maxIdleConnections = 5

var settings = postgresql.ConnectionURL{
	Database: `foodb`,
	Host:     `localhost`,
	User:     `foo`,
	Password: `passwordfoo`,
}

type Foo struct {
	ID    int64  `db:"id,omitempty"`
	Title string `db:"tit

[2016-12-08 13:21] josefcs opened #299 "Best practice and concurrent access for v2"
I did not find any documentation about the intended use of a session (`sqlbuilder.Database`) opened by e.g. `sess, err := postgresql.Open(settings)` in a concurrent context:

If a session is opened, I need to open a collection.
Can I now share this session and the collection with multiple goroutines?
Or does every goroutine need its own collection and/or session?

Because if it does, this would im

[2016-12-08 16:29] xiam commented on #278
I think this is a good suggestion: https://github.com/upper/db/pull/298#issuecomment-265782422

[2016-12-08 16:33] xiam commented on #299
Hello @josefcs. Yes you can share the session and collection, there's usually no need to manually open or close sessions, Go handles this itself on database/sql.

[2016-12-08 16:40] josefcs commented on #299
Perfect, thank you!

[2016-12-08 16:40] #299 closed

[2016-12-08 16:40] xiam commented on #297
Hello @rahuldaga, could you try this?

[code]

Instead of:

[code]

Let me know if the first one works for you, if it does then there's probably something wrong with `InsertInto`.

[2016-12-09 23:21] pkieltyka opened #302 "Go 1.8 context support"
Hey @xiam - in the new year we should be thinking about support the new database/sql context support in go 1.8

see http://golang.rakyll.org/deprecated/ and https://blog.gopheracademy.com/advent-2016/database_sql/ for some light reading

also, good practice might be for us to use go 1.8 build tags to maintain backwards compatibility

[2016-12-11 12:06] xiam commented on #287
Closed by https://github.com/upper/db/pull/294

[2016-12-11 12:06] #287 closed

[2016-12-11 12:09] xiam opened #303 "Better support for raw queries"
This is a follow up of https://github.com/upper/db/pull/298

We need to make sure Query, QueryRow and Exec accept this syntax with automatic subquery expansion:

[code]

[2016-12-11 18:54] onerciller opened #304 "you should update your documents"
document should be update

[2016-12-12 00:15] rahuldaga commented on #297
Collection API works - Thanks @xiam

[2016-12-12 20:10] onerciller opened #305 "how to make update data"
I try to make process crud however  I didn't find how it will be make update process

[2016-12-13 00:08] pkieltyka commented on #305
please read the docs

[2016-12-13 00:08] #305 closed

[2016-12-13 00:08] pkieltyka commented on #305
@onerciller check the docs https://upper.io/db.v2/ and if you have a specific problem, please provide example code and we can help you through it

[2016-12-13 01:15] xiam commented on #304
Hi @onerciller, have you found any problem with a particular documentation page?

[2016-12-13 05:02] onerciller commented on #304
hi @xiam  I am using mysql, when I examine document in following link, it  show  as **Append** method insert process however insert process is **Insert** method. Furthermore, I could  not find Update method in document

https://upper.io/db.v2/mysql

[2016-12-13 15:19] xiam commented on #304
@onerciller Oh, yes you're right! I missed that one. Thanks for the heads up, this is now fixed.

All SQL adapters follow a common syntax so everything you can do here https://upper.io/db.v2/getting-started can be done with the mysql adapter (or any other SQL adapter) too. Please take a look at that page, we have some examples on updates here too https://upper.io/db.v2/examples. I'll also explain

[2016-12-13 15:19] #304 closed

[2016-12-13 15:34] xiam commented on #303
Closed by https://github.com/upper/db/pull/306

[2016-12-13 15:34] #303 closed

[2016-12-13 15:38] onerciller commented on #304
thanks for your help and reply @xiam , I will keep to follow you and I will be help you as much as I can

[2016-12-13 20:54] #297 closed

[2016-12-13 20:57] xiam commented on #297
Hello @rahuldaga, this has been confirmed and fixed, a new revision is going to be pushed pretty soon. Thanks!

[2016-12-15 16:29] buckyball commented on #98
+1

[2016-12-16 01:06] #296 closed

[2016-12-16 11:47] xiam commented on #98
Thanks @buckyball, @souzadevinicius. We have good news in this front: Microsoft finally released a Docker image with MSSQL that runs on Linux / Mac: https://hub.docker.com/r/microsoft/mssql-server-linux/. I tested it yesterday! So we'll be able to start working on this pretty soon.

[2016-12-16 11:47] xiam commented on #190
This has been working for a while now.

[2016-12-16 11:47] #190 closed

[2016-12-16 18:51] xiam commented on #130
v3 could be a good opportunity to break stuff and fix this.

[2016-12-16 18:55] xiam commented on #127
Now that the query builder supports query expansion we can add `Union()/UnionAll()` methods to the builder and do something like:

[code]

[2016-12-16 19:27] xiam commented on #302
I think we can add an optional `Context()` method, like:

[code]

And we can use the default context if that method isn't called.

[2016-12-16 19:29] xiam commented on #127
I think we can make this work with `db.Result` too, as you suggested @VojtechVitek. Let's do both.

[2016-12-16 19:34] xiam commented on #302
Though, it would be nice to have something like http's `res.Context()`, which `chi` picks automatically

Maybe:

[code]

We can model this after `http.Request`'s `WithContext()` and `Context()` methods.

[2016-12-19 20:23] buth opened #310 "NewBaseCollection ignores errors from FindTablePrimaryKeys"
https://github.com/upper/db/blob/master/internal/sqladapter/collection.go#L43

[2016-12-19 20:45] buth opened #312 "Add Tests"
Many packages are missing tests.

[2016-12-19 20:49] buth commented on #312
(Reopening the issue; I made a mistake in original report.)

[2016-12-19 21:21] #312 closed

[2016-12-27 16:28] zlangley opened #314 "Insert with no values does not produce valid SQL"
Using PostgreSQL and db.v2:

[code]

An empty VALUES clause should be `(default)`, but it is actually just an empty string.

[2017-01-03 22:18] carlisia opened #315 "Question: transaction over multiple tables?"
I think I have it figured out how to do a transaction over 1 table, but how about over multiple tables (MySQL), is it possible?

[2017-01-05 20:28] c2h5oh opened #316 "Set silently drops Raw parameters, drops arguments for Cond parameters containing Raw"
`tx.Update("my_table").Set(db.Raw("column1 = 1).Where(<some conditions>)`

Will generate SQL with empty SET.

`tx.Update("my_table").Set(db.Cond{"column1: db.Raw("? < 10", myVar)}).Where(<some conditions>)`

Gets you `pq: got 0 parameters but the statement requires 1`

[2017-01-05 22:14] xiam commented on #315
Hey @carlisia,

Sorry for the delay. Yes this is possible, you can create a transaction session with the `NewTx()` method on a regular session:

[code]

`tx` is like a regular session, except it has `Commit()` and `Rollback()` methods too.

You can use `tx` to perform any operation on the same transaction:

[code]

When you're done, use `tx.Commit()` to make your changes permanent.

You can also u

[2017-01-05 22:15] xiam commented on #314
Nice, we can definitely do that, thanks for the clarification @zlangley.

[2017-01-05 22:18] xiam commented on #310
Thanks @buth, I'm gonna take a look at your PR too.

[2017-01-05 22:21] xiam commented on #316
Thanks @c2h5oh, just pushed a fix.

[2017-01-05 22:33] #316 closed

[2017-01-06 17:15] carlisia commented on #315
Hi @xiam, as always, thank you! I ended up figuring it out. And my bad I hadn't found this in the examples :). Closing.

[2017-01-06 17:15] #315 closed

[2017-01-08 23:54] kyteague opened #319 "Odd behavior with AND query builder"
Given `col := sess.Collection("group_members")`

I would expect the following three calls to all produce the same result: `SELECT * FROM group_members WHERE group_id = ? AND user_id = ?`  However, none of them produce the desired SQL.

`col.Find("group_id", groupID).And("user_id", userID)`
Produces
        Query:          SELECT * FROM `group_members` WHERE (group_id = ?)
        Arguments:      [

[2017-01-10 16:16] c2h5oh opened #320 "Panic when custom type is an array alias, is nil and field is omitempty"
[code]

Result:
`panic: runtime error: comparing uncomparable type MyEnum`
on `upper.io/db.v2/lib/sqlbuilder/builder.go:269` line

[2017-01-10 17:54] #320 closed

[2017-01-11 19:52] #140 closed

[2017-01-11 23:28] #314 closed

[2017-01-11 23:29] xiam commented on #310
Closed by https://github.com/upper/db/pull/313

[2017-01-11 23:30] buth commented on #310
It's still an issue that errors are ignored.

[2017-01-11 23:33] xiam commented on #310
That's right, I'll keep this open until we find a good solution for that.

[2017-01-12 00:31] #319 closed

[2017-01-12 00:34] xiam commented on #319
Hello @kyteague,

Thanks for your report! The problem here was that `Find()`/`And()` were not acting like the regular SQL builder which accepted the syntax you mentioned, `And()` was expecting only `db.Cond{}` structs, which was inconsistent.

[2017-01-12 04:20] kyteague commented on #319
Thanks @xiam for the quick fix!

[2017-01-12 04:34] pkieltyka commented on #319
@xiam does .Find() and .And() support now a list of arguments or a db.Cond?  if so, I feel that is kind of weird since we're supporting dynamic types effectively. Like we talked about, anytime you use interface{} for a type, we should always be checking the type at runtime and panicing for type errors

[2017-01-12 12:52] xiam commented on #319
@pkieltyka Yes, the SQL builder [supports both cases](https://upper.io/db.v2/examples#constraining-result-sets) correctly, for instance:

[code]

Is a shortcut that gets converted into:

[code]

Which is equivalent to

[code]

The problem was that the `db.Result` interface in this case:

[code]

accepted the flexible syntax on `Find()` but didn't allow users to do the same with `And()`, which was

[2017-01-12 18:55] buth opened #325 "PostgreSQL Conds method"
The PostgreSQL [Conds method](https://github.com/upper/db/blob/v2/postgresql/collection.go#L63-L74) (required to implement the [PartialCollection](https://github.com/upper/db/blob/v2/internal/sqladapter/collection.go#L18-L23) interface) does not check for or use the collection's primary key – nor does it allow non-integer values.

[2017-01-23 19:16] #325 closed

[2017-02-03 15:00] xiam opened #328 "Chained calls to Values() may produce wrong INSERT statements"
There's a problem when using chained `Values()` calls in which upper does not keep the order of the arguments to be inserted:

[code]

One of the errors this issue could produce is:

[code]

Thanks to @c2h5oh for finding out this problem and for suggesting a fix.

[2017-02-04 20:44] xiam commented on #328
Closed by https://github.com/upper/db/pull/329

[2017-02-04 20:44] #328 closed

[2017-02-05 04:45] xiam commented on #310
Closed by https://github.com/upper/db/pull/330

[2017-02-05 04:45] #310 closed

[2017-02-10 22:49] pxue opened #332 "sqlbuilder.Map does not respect MarshalDB before Zero comparison"
[L278](https://github.com/upper/db/blob/master/lib/sqlbuilder/builder.go#L278) will throw a panic if `value` implements `MarshalDB` that returns some arbitrary type.

My use case is:

[code]

This throws panic panic: `runtime error: comparing uncomparable type Foo`, when comparing `Foo struct` with the value `"foo: xxx"`

[2017-02-13 16:33] xiam opened #334 "Set an order when using db.Cond maps"
A condition like: `db.Cond{"f": 6, "e": 5, "d": 4}`

Can be compiled into:

`f = 6 AND e = 5 AND d = 4`, or
`e = 5 AND f = 6 AND d = 4`, or
`d = 4 AND e = 5 AND f = 6`, etc

This is because `db.Cond` is a map and maps do not have order.

[2017-02-13 18:30] xiam commented on #334
Closed by https://github.com/upper/db/pull/335

[2017-02-13 18:30] #334 closed

[2017-02-14 12:44] xiam commented on #332
Hey @pxue! I added a test here https://github.com/upper/db/pull/336 but failed to reproduce your problem, could you take a look at the test case and provide more information so we can reproduce the issue?

[2017-02-14 12:56] xiam opened #337 "Make error reporting per-session"
Currently, unexpected errors are reported globally.

[2017-02-14 14:56] pxue commented on #332
Thanks for looking into this @xiam!

Looks like the issue is with more complex fields, ie:

[code]

Now I get this error:

[code]

[2017-02-14 17:11] c2h5oh opened #338 "Support DISTINCT ON (expression)"
PostgreSQL supports 2 kinds of DISTINCT:

1. `SELECT DISTINCT column1, column2 FROM my_table` which returns all distinct tuples of column1 and column2 (per group)

2. SELECT DISCTINCT ON (expression) column1, column2 FROM my_table ORDER BY expression` which returns the first tuple of column1 and column2 for a distinct value of expression (per group)

[2017-02-14 17:16] VojtechVitek commented on #338
`.Select(db.Raw("DISTINCT ON (email) email"), "name", "created_at").Find(...)`

[2017-02-14 17:19] c2h5oh commented on #338
There is no comma after `DISTINCT ON ()`. I can hack it by prepending it to the first SELECT column, but that's tricky if it's not a `string` but `db.Raw`

[2017-02-14 18:53] xiam commented on #338
We can think on a generic syntax for this, in the meantime something like this should work:

[code]

[2017-02-14 19:01] c2h5oh commented on #338
Doesn't help me in my use case where the selected values may also be expressions passed as `db.Raw`

[2017-02-14 19:04] xiam commented on #338
Oh I see, could you share a full example of your use case?

[2017-02-14 19:12] c2h5oh commented on #338
My query is being built incrementally as a request passes through middlewares. Some of those will add columns or expressions to be selected, for example `db.Raw("SUBSTRING(email,(POSITION('@' in email) + 1),252))` to extract domains from email addresses

I'd have to build a new `db.Raw` by prepending `DISTINCT ON (?)` to content of the one I get `db.Raw` or I would have to do some magic to manage

[2017-02-15 19:17] c2h5oh opened #340 "Exceeding the number of connections set postgresql.SetMaxOpenConns makes all future request to that database hang indefinitely"
repro:

1. Set max open connection to something low: `postgresql.SetMaxOpenConns(5)`
2. Start multiple 'SELECT pg_sleep(1);` in parallel
3. Wait for a second or two
4. Attempt any query on the same database

[2017-02-15 19:54] xiam commented on #340
I added a test here https://github.com/upper/db/pull/341 but couldn't reproduce the issue.

[2017-02-15 20:05] c2h5oh commented on #340
I can reliably reproduce it with:

[code]

Only 10 queries will ever finish (equal to max open connections) and the program will hang until killed

[2017-02-15 20:12] xiam commented on #340
The problem I see here is that `Query()` returns a `sql.Rows` value that isn't getting closed, so technically the query is still running, which will end up blocking connections because that's what `SetMaxOpenConns` does.

Can you try with a query that returns results (pg_sleep does not return any) and use `rows.Close()`?

Or, try using `Exec()` which does not expect any result.

[2017-02-15 20:13] xiam commented on #340
Also, try `SELECT 1` instead of `SELECT pg_sleep`, without closing the `rows` value, it will block too.

[2017-02-15 20:21] c2h5oh commented on #340
I can confirm it works with exec or with rows being closed. What surprises me though is that it will happily hang there for ever instead of throwing an error..

[2017-02-15 20:32] c2h5oh commented on #340
Closing - this is yet another interesting design choice in `database/sql`

[2017-02-15 20:32] #340 closed

[2017-02-15 22:37] xiam commented on #332
Thanks @pxue! This should be closed by https://github.com/upper/db/pull/336 and it's going to be included on our next release.

[2017-02-15 22:37] #332 closed

[2017-02-16 14:01] xiam commented on #337
Closed by https://github.com/upper/db/pull/342

[2017-02-16 14:01] #337 closed

[2017-02-16 19:05] #338 closed

[2017-02-17 01:05] xiam commented on #302
https://github.com/upper/db/releases/tag/v3.0.0

[2017-02-17 01:05] #302 closed

[2017-02-17 03:45] zfsamzfsam opened #344 "Redis&Mongodb&Cassandra&InfluxDB"

[2017-02-17 03:45] #344 closed

[2017-02-17 03:46] zfsamzfsam commented on #344
Support Cassandra

[2017-02-18 04:24] jcloutz opened #347 "Unable to install"
I am receiving the following error when trying to install. This is using go 1.8, I haven't tried with 1.7.
[code]

[2017-02-18 13:51] xiam commented on #347
Sorry for the trouble, this should be working fine again with any git version. Could you try again and confirm?

[2017-02-19 03:09] jcloutz commented on #347
@xiam It seems to be working now. I got it to work last night by telling git to follow redirects but this is better :) Thank you for the fast response!

[code]

[2017-02-20 01:17] xiam commented on #347
Great @jcloutz! thanks for the heads up.

[2017-02-20 01:17] #347 closed

[2017-02-21 06:17] linuxerwang opened #348 "Should not the interface db.Database has a NewTx() method?"
At present NewTx is only defined on concrete Database structs but not on the db.Database interface. This confines better abstraction and also testability for developers.

[2017-02-21 17:01] niemeyer commented on #347
No need to change the configuration anymore. We've changed gopkg.in itself to support the new git quirks.

[2017-02-27 12:36] LennartOlsen opened #349 "One To Many"
Hi.

Ive tried going through your documentation of the PostgreSQL implementation and I cant seem to find anything on one-to-many relations?

Example:

[code]

I have no idea how i should query a Person and all the related hats.

The best i got is:

[code]

Of course this is not desirable as i get a lot of HatsPerson containing just one hat and the same person.
Can anyone guide me?

Thanks for a gr

[2017-02-27 14:59] VojtechVitek commented on #349
1) Hats would have to bee array (ie. on Postgres, see https://www.postgresql.org/docs/9.1/static/arrays.html) to make this work.

2) Otherwise, you'd have to spin up two requests. First, grab the Person and then all his Hats and put this together to HatsPerson in Go.

[2017-03-01 13:04] LennartOlsen commented on #349
@VojtechVitek so there is no way that i can have actual one to many relations defined by an attribute on the hat?

[2017-03-01 13:49] xiam commented on #349
Hello @LennartOlsen,

Yes, upper-db does not do that, one of our goals is it to be flexible, we want to provide enough tools to work with a database system, and including pre-defined relations or assuming how a database layout should look like takes away that flexibility.

What @VojtechVitek suggested is what I also recommend:

Code might look like:

[code]

You'd use `p.pullHats()` when you need

[2017-03-01 13:58] LennartOlsen commented on #349
Thanks @xiam. It makes sense that it is an "anti-goal" to couple code and DB too hard.

[2017-03-02 07:11] odg0318 commented on #295
Is there any change of this issue?

[2017-03-05 05:20] Starz0r opened #350 "Runtime Error with Referring to a Database within the same package"
For the past day or so, I've been trying to figure out what I could be doing wrong in this instance, but ultimately think it has to do with a bug in the package. I've implemented a working database connection but upon trying to query it from a different file within the same package, I'm met with this error:

[code]

The only relevant part of this error would be the first file, as every other refer

[2017-03-06 02:16] odg0318 opened #351 "How can I use Prepare feature?"
Hello.

I am using postgresql with upper db.v2.

I need to use prepare statement in some cases but it is not commonly required.
How can I use Prepare statement in specific query?

Thanks

[2017-03-18 17:35] #349 closed

[2017-03-18 17:39] xiam commented on #350
Hello @Starz0r,

Here in this line:

[code]

I think you need to catch the error too, could you try that? Also, you won't be able to call any method on `dbSession` while `dbSession` is `nil`, please make sure you're calling this:

[code]

After making sure `dbSession` is correctly defined.

[2017-03-20 07:55] Starz0r commented on #350
@xiam After running my code through an isolated test again, It appears that the error doesn't have to be catched at all. This line:

[code]

Seems to get called before dbSession is fully initialized. Does Upper have a way to defer this? If not, I guess I could always move the pointer inside of a function to solve this, but I'd like to do it with my method if possible.

[2017-03-20 23:11] xiam commented on #350
Hey @Starz0r,

You won't be able to access `Collection()` as long as `dbSession` is `nil`. Please try this:

[code]

I am not sure this is something we should _fix_ as I don't see anything bad here so I'm closing this issue.

[2017-03-20 23:11] #350 closed

[2017-03-20 23:14] xiam commented on #348
Hello @linuxerwang,

Currently `db.Database` does not have this `NewTx` method because not all databases support transactions, this is not a final decision, perhaps in the future we'll move this to `db.Database` and drop support for databases without transactions.

In the meantime you can use `sqlbuilder.Database`, which is like a regular `db.Database` + transaction methods and other SQL-only good

[2017-03-20 23:14] #348 closed

[2017-03-21 15:30] xiam commented on #351
Hello @odg0318,

Can you update your db.v2 to the latest release? We've just pushed this method:

[code]

Let us know if you have any more problems.

[2017-03-21 15:30] #351 closed

[2017-03-21 15:40] VojtechVitek commented on #350
Always check the errors. If you don't, expect `panic()` to be triggered on `nil` pointers.

[2017-03-28 15:45] xiam commented on #288
Regexp matches that use `?` also fail because of this.

[2017-03-29 11:04] nkumar15 opened #354 "Updating table field mapped to embedded structure field"
I am wondering how to update the embedded struct.
For eg  I am having  structs type named

Country and CommonFields respectively.

[code]

[code]

Now to updated UpdatedAt time for Country I am trying code  below but its not working.

	col := sess.Collection("Countries")

	res := col.Find("Code", country.Code)
	defer res.Close()

	err = res.Update(Country{
		Name: country.Name,
		//UpdatedAt: time

[2017-03-30 10:04] loser007 opened #356 "pq: unknown response for startup: 'Y'"
use mysql
var settings = postgresql.ConnectionURL{
       "host":"127.0.0.1:3306",
	Database: "test",
	User:     "root",
	Password: "",
}
What is the cause of this problem?

[2017-03-30 10:53] #356 closed

[2017-03-30 15:35] xiam commented on #356
Hey @loser007, could you post what happened? It may help other users. Thanks!

[2017-03-30 17:33] kyteague opened #357 "Multiple Where() calls overwrite each other in query builder"
I'm using v3.

Example:
db.Select("foo", "bar").From("table").Where("foo = 1").Where("bar = 2") will produce
`SELECT foo, bar FROM table WHERE bar = 2`

[2017-03-30 18:37] xiam commented on #357
Hello @kyteague,

In this case you should use `And` and not `Where`:

[code]

This is not your fault, we should explain this better on our docs.

[2017-03-30 18:40] VojtechVitek commented on #357
I would call this a bug. We shouldn't allow calling .Where() multiple times, since it overrides the previous queries.

[2017-03-30 19:12] xiam commented on #357
@VojtechVitek I don't see any reason why this should raise an error, `And()` _adds_ more conditions and `Where` _sets_ them, they serve two perfectly valid and different purposes.

Docs need to improve tho, this important detail is hidden here: https://github.com/upper/db/blob/master/lib/sqlbuilder/interfaces.go#L229

[2017-03-30 19:18] VojtechVitek commented on #357
@xiam why do we need to support `db.Select().From().Where().Where().Where()`, though? This just asks for troubles - we all make mistakes accidentally.

[2017-03-30 19:43] xiam commented on #357
We currently have a few methods that overwrite previous data `From`, `Where`, `OrderBy` and `GroupBy`. My intention with that was to give the user some room to do things like:

[code]

If we remove that behavior from `Where` we'll need to remove it from the other methods too, users would not be allowed to _set_ things, only to _add_ more stuff, I think we need to be flexible and allow re-setting v

[2017-03-31 19:59] kyteague commented on #357
My assumption was that multiple `Where()` calls would join the clauses with AND.

Look at this example:

[code]

Making people use both `Where()` and `And()` makes this conditional logic very complex.

[2017-04-01 13:49] xiam commented on #357
@kyteague In your particular case I'd suggest to build the condition before passing it to `Where`, something like:

[code]

This would work too (but I find the snippet above more easy to follow):

[code]

But in general, I think this is not that easy to read:

[code]

I'd rather see:

[code]

We'll definitely keep`Where` and `And`, but we might make it illegal to use two or more `Where` calls in t

[2017-04-05 11:04] nkumar15 commented on #354
I am prototyping one of my project and evaluating upper.db for it. I am requesting people to provide information and if needed I would be happy to contribute in adding documentation also.

[2017-04-11 13:40] nkumar15 commented on #354
Okie.. so got the solution from here. Hope it helps to others..

https://upper.io/db.v3/examples#embedding-structs

[2017-04-11 13:41] #354 closed

[2017-04-15 18:14] ringrid opened #359 "db.And is not a type"
I'm using upper.io/db.v3,  my code example:
[code]

it tell me "db.And is not a type"

I tried to another method:

[code]

it's same error.

please tell me how do I ?

[2017-04-15 18:18] VojtechVitek commented on #359
db.And()

[2017-04-15 18:19] ringrid commented on #359
sorry my mistake... lol...

[2017-04-15 18:19] #359 closed

[2017-04-18 06:33] godsoul opened #361 "How to set connection pool？"
How to set connection pool？ I want set max or mint connection count. thank you！

[2017-04-24 20:40] VojtechVitek opened #362 "Rename SessionTx() to CreateTx() ?"
I always forget how to create new DB transaction in upper/db.
[code]
Whenever I search my codebase to remind myself, I end up git-grepping "CreateTransaction" or "CreateTx" but nothing comes up.

@xiam would you be open to renaming the `SessionTx()` method (or having an alias) to `CreateTx()` instead?
[code]

@pkieltyka @c2h5oh @diogogmt @pxue thoughts?

[2017-04-24 20:43] pkieltyka commented on #362
I like the name of it at first glance

[2017-04-24 20:50] VojtechVitek commented on #362
@pkieltyka sorry - you like the original `SessionTx()` name? Or the proposed `CreateTx()` name?

[2017-04-24 20:53] pkieltyka commented on #362
At a glance, I think CreateTx is more obvious what it does

[2017-04-26 02:46] xiam commented on #361
Hello @godsoul.

You can use https://godoc.org/upper.io/db.v3#Settings for this, for instance:

[code]

[2017-04-26 02:46] #361 closed

[2017-04-26 02:52] xiam commented on #362
`CreateTx` sounds good, I opened an issue on [bond](https://github.com/upper/bond/issues/26) to keep track of this one.

[2017-04-26 02:52] #362 closed

[2017-04-28 05:38] marekk657 opened #363 "examples: retrieve into a map"
Hi,
In your examples, there's mentioned that its possible to retrieve result set into a map.
https://upper.io/db.v3/examples#mapping-all-results-from-a-result-set

I tried it by modifying one of your existing examples and received an error: "Argument must be a slice address."
It seems like retrieve into a map is not supported anymore?
Code that i ran: https://demo.upper.io/p/80b3754fe7cafd3af36e10

[2017-05-01 09:25] ngurajeka opened #364 "Inner Join on sqlbuilder"
Hi,

I'm using upper.io as my primary orm in Go. In a few months, its been a good tools/library/package that help me with my need.
But, today i came up with new requirement that need me to do "INNER JOIN" on projects.
The join options that provided by sqlbuilder now are Join, LeftJoin, RightJoin, etc. I don't shee any references to use Inner Join.
I know that i can use raw SQL to do this, but is t

[2017-05-02 00:29] xiam commented on #364
Hey @ngurajeka,

I think you can safely use `Join` in this case, see http://stackoverflow.com/questions/565620/difference-between-join-and-inner-join

[2017-05-02 00:32] xiam commented on #363
Hey @marekk657,

Sorry, your example got deleted (my fault). But here's another one: https://demo.upper.io/p/2992cc81e386e6df3713e9c23d5bf032735a079c

Does it look like the one you posted? Make sure you're passing a pointer.

[2017-05-02 00:36] xiam commented on #98
It's finally here!

https://github.com/upper/db/releases/tag/v3.1

[2017-05-02 00:36] #98 closed

[2017-05-02 01:28] ngurajeka commented on #364
Thanks @xiam

[2017-05-02 01:28] #364 closed

[2017-05-02 15:24] mojo-zd opened #366 "the docs of mongo is not detail"
there is not rare case of mongo operation.
for example complex search. like、ignore letter and so on

[2017-05-02 16:18] MintyOwl opened #367 "Support for DB sharding for posgtres"
Wondering if upper.db is going to have any support for sharded schemas for postgres! It would be a great addition.

[2017-05-04 01:29] ngurajeka commented on #357
I got the same issue yesterday about this. But, then i think because Where is using interface as argument i choose to use this approach

[code]

[2017-05-04 20:53] xiam commented on #357
Let's make two or more calls to `Where()` illegal as @VojtechVitek suggested,  it's better to be safe.

[2017-05-04 20:53] xiam commented on #363
Please reopen if this does not solve your problem.

[2017-05-04 20:53] #363 closed

[2017-05-07 14:15] zsy619 opened #368 ""go get upper.io/db.v3/mssql" is an question?"
when execute "go get upper.io/db.v3/mssql" statement
error occurred:
package upper.io/db.v3/mssql: cannot find package "upper.io/db.v3/mssql" in any of:

what it happened?

whether mssql not exists????

[2017-05-07 14:33] zsy619 commented on #368
execute "go get upper.io/db.v3/mssql" statement, not include mssql:
![5b210a42-c6d1-4951-9624-08aaad7605dc](https://cloud.githubusercontent.com/assets/6278792/25782016/ac9d77e4-3374-11e7-8527-aa0dfa152e82.png)

[2017-05-07 19:51] xiam commented on #368
Hey @zsy619!

Thanks for noticing this, the problem was I tagged this version incorrectly and I didn't actually release it. Fixed by https://github.com/upper/db/releases/tag/v3.1.0 and should be working now.

[2017-05-07 19:51] #368 closed

[2017-05-09 12:57] xiam commented on #75
This is now provided by `context.Context`.

[2017-05-09 12:57] #75 closed

[2017-05-10 18:04] js02sixty opened #369 "Explain that Tx needs a context.Context"
I got hung up on using Tx fin db.v3 or a while (partly because i don't fully understand it) but I was finally able to get my code to compile:

[code]

Adding sess.Context()...
[code]

I was trying random things and passing sess.Context() seemed to work.  Should I be passing something else? Please add something about that in the documentation.

Thank You!

[2017-05-11 15:53] JonnyPillar opened #370 "Postgres PK UUID type"
Hi,

*Issue*

`upper.io/db.v3` panics after running `InsertReturning` or `UpdateReturning` on a table/entity that has a PK of type UUID

*Example code and ouput*

https://gist.github.com/JonnyPillar/c0bd4a6af69ee0d8d25c74fd6b9dcde9

*Details*

 - Upper DB Version: 3.1.0
 - Go Version: 1.8.1

The issue seems to come down to https://github.com/upper/db/blob/master/internal/sqladapter/sqladapter.go#L

[2017-05-12 06:16] xiam commented on #370
Hey @JonnyPillar,

I think using `[]uint8` is fine, does `Find([]uint8{...})` work as well? Could you create a PR with this fix :-)?

Thanks

[2017-05-12 06:21] xiam commented on #369
Right! Good finding, this is the context we're referring to: https://golang.org/pkg/context/, I assumed that `context` was a well known package but this is probably not the case. I'll explain this on more detail on the docs. Btw, you can use `nil` here as well if you don't want to provide a context.

[2017-05-12 07:51] JonnyPillar commented on #370
Hey @xiam, thanks for getting back to me!
`Find([]uint8{...})` panics in the same way.

Will get a PR put together

Thanks for taking the time

[2017-05-12 15:46] xiam commented on #370
Awesome! thank you very much @JonnyPillar.

[2017-05-13 19:13] js02sixty commented on #369
great thanks!

[2017-05-17 08:21] taylor840326 opened #371 "connect proxysql return Error 1045 no such function : DATABASE"
proxysql is a mysql proxy, I want use dbv3 to read proxysql admin tables. but return error.
![screen shot 2017-05-17 at 16 09 03](https://cloud.githubusercontent.com/assets/1393321/26144378/2c21b450-3b1b-11e7-9aa3-deda2c753c8e.png)

I modify "upper.io/db.v3/mysql/database.go" line 216
from
![screen shot 2017-05-17 at 16 20 13](https://cloud.githubusercontent.com/assets/1393321/26144785/c197823e-3b

[2017-05-17 08:45] taylor840326 commented on #371
https://github.com/sysown/proxysql/issues/1022

[2017-05-17 08:45] #371 closed

[2017-05-19 03:35] rcousens opened #372 "Using Calculated FIelds in db.v3"
Hi,

I've searched the documentation and even read through the code for the upper DB sql builder. For the life of me I can't work out how you'd do a select on calculated fields, such as:

[code]

The docs reference an sqlbuilder.RawString() and sqlbuilder.Func() but I can't find either of those functions available.

Is this possible? Or at this point should I be using raw queries?

Cheers

[2017-05-19 14:39] VojtechVitek commented on #372
just off top of my head, try
[code]

[2017-05-25 05:48] VergilTang opened #373 "Collection(tableName) is slow when using a lot of different table names"
When I'm using Database.Collection(tableName).Find() to query some data from mysql in production environment, it genarate so many mysql slow query logs like this:

[code]

At the beginning,I was trying to check some reason out through reading upper's document or source code, but I found that there was no comment about this question, and upper's quantity of code were too many and obscure to underst

[2017-05-25 06:02] zhqagp commented on #373
Your English is very good!!!!!!!!!!!!!!!

[2017-05-25 06:04] Novopo commented on #373
same question !!!!!!!!!!!!!!

[2017-05-25 07:23] siitao commented on #373
Six six six

[2017-05-26 17:15] dallbee commented on #370
Also ran into this issue when trying to use github.com/satori/go.uuid with a MySQL binary(16) column. Thank you @JonnyPillar for the temporary fix.

[2017-05-29 15:42] xiam commented on #373
Hello @VergilTang ,

Your English is fine!

The `Collection` method executes this query but only once, then the result is cached on the session and upper should not query for it unless this cache is cleared.

This cache is based on the table name. I'm just guessing but, does your use case involve using several many different table names? I'm curious about the `t.table_name = 'user_follows_0710'` p

[2017-05-29 15:44] xiam commented on #370
Hey @JonnyPillar, I think I'll take over this one if you don't mind, thanks for debugging the case!

[2017-05-29 15:47] xiam commented on #372
Hey @rcousens, did @VojtechVitek's example fixed your case?

Another way of doing things like this is:

[code]

[2017-05-29 17:52] VojtechVitek commented on #370
Hit this a week ago too.

`.Find(db.Cond{ "id": sliceOfIntegers }).`

Had to convert `[]uint8` slice into `[]int64` slice to workaround the panic.

[2017-05-30 09:23] JonnyPillar commented on #370
Hey @xiam sorry I have had a very busy couple of weeks and have not had the time. Thanks for taking it up

[2017-06-01 14:37] VergilTang commented on #373
haha,thank you for your encouragement @xiam ,I'll learn English harder and harder.

back to this question

there is `t.table_name = 'user_follows_0710'` part because this table have many data in table `user_follows`(more than 100 million),and I must split it into sub-tables. And I have solved this question temporarily by changing db.Database.Collection method to sqlbuilder.Database.Query method.

[2017-06-07 16:28] Asday opened #375 "How do I do foreign keys?"
Say I have a schema of the shape:

[code]

How do I represent that in Upper?  I'm getting as far as this:

[code]

But my mind just can't get over the hurdle of `Author.Books` being populated, and I can't find any mention of foreign keys anywhere in the docs.

[2017-06-08 03:41] xiam commented on #373
Hello @VergilTang,

I've been thinking on your use case but I still don't have a solution. The main problem is that you're using different table names and each different table gets checked for primary keys, in fact all those different tables share the same structure, but upper-db is not aware of that. I don't believe `Collection()` will ever be useful for your case, we'd had to do something like `

[2017-06-08 03:43] xiam commented on #373
Hey @Novopo, is your case similar to @VergilTang's? or do you have a different situation that also produces slow queries?

[2017-06-08 03:56] xiam commented on #375
upper-db does not do this automatically, we prefer to make things like this pretty explicit.

We suggest a pattern like:

[code]

Just make sure to call `pullBooks` whenever you need it, it's a little more code but you'll always be in control of how much work you're asking from your database.

[2017-06-09 08:14] ringrid opened #376 "does it support mssql with odbc connection?"
In real sence I need odbc connection for mssql，but I found it's documents with url method only.
does it support for odbc connection?

[2017-06-10 12:53] xiam commented on #376
Not directly, but the `mssql.Open` function expects an argument of type [db.ConnectionURL](https://godoc.org/upper.io/db.v3#ConnectionURL) so you can provide your own connection string by providing any struct that satisfies `db.ConnectionURL`:

[code]

Does this work for you?

[2017-06-11 07:49] ringrid commented on #376
It was work, and I have tried ado Connection with options: {"encrypt": "disable"}，It was work too.
Thanks a lot. ^_^

[2017-06-11 14:59] #376 closed

[2017-06-11 18:38] xiam commented on #372
Please reopen if this doesn't work for you.

[2017-06-11 18:38] #372 closed

[2017-06-11 18:38] xiam commented on #375
Please reopen if this doesn't work for you.

[2017-06-11 18:38] #375 closed

[2017-06-12 03:44] VergilTang commented on #373
Hello, @xiam ,
My colleagues and I make a few tests about this case , and we have changed using `Collection` to using `SelectFrom`,  what's more, `Collection` execute that slow query only once, I misunderstood before.

Maybe I could now figure out what happened.

With the amount of table in the mysql is raising, mysql will take more and more time to execute that slow query which try searching prim

[2017-06-12 03:44] #373 closed

[2017-06-17 13:44] xiam commented on #357
After more thought, it would have been pretty impractical to return an error when building a query for a thing like this, so I considered again @kyteague's comment and his assumption (https://github.com/upper/db/issues/357#issuecomment-290814853) and implemented support for multiple `Where()` calls that append conditions instead of replacing previous ones.

This has been just released as part of h

[2017-06-17 13:44] #357 closed

[2017-06-17 13:45] xiam commented on #370
This has been just released as part of https://github.com/upper/db/releases/tag/v3.2.0, please let us know if you find any more problems here :).

Thanks!

[2017-06-17 13:45] #370 closed

[2017-06-17 13:54] xiam commented on #369
Hey @js02sixty, please see https://upper.io/db.v3/examples#transactions.

Thanks for the heads up!

[2017-06-17 13:54] #369 closed

[2017-06-17 15:53] dallbee commented on #370
Thank you!

[2017-06-20 15:51] js02sixty commented on #369
Nice!  Thanks...

[2017-06-21 11:49] ngurajeka opened #380 "Join With DISTINCT Method"
Hi,

Is there anyone tried to build query join with distinct inside of it?

Ok, so this is my original query:
[code]
Executing it directly from mysql console / client was successfull. But when i'm trying to write the query using querybuilder, it gives me error because upper.db treat the query a little bit different.

So this is my first code:
[code]

And, i saw my log. It converted to:
[code]

And

[2017-06-27 18:45] deadcheat opened #381 "Unexpectedly logging Disabled by NewTx"
when new transaction started by Database.NewTx(ctx context.Context),
loggingEnabled is not copyied from original Database Connection.

[2017-06-27 20:46] VojtechVitek opened #382 "Better panic/error message on closed connection"
I accidentally closed a DB session too soon and then called `.Select()` via upper/db and it `panic()`-ed with `SIGSEGV`. Can we please gracefully error out or provide a better panic() message, so we don't get crazy stack trace with SIGSEGV?

[code]

[2017-06-30 13:55] abcd3652460 opened #383 "MySQL: InsertReturning and composite keys"
a := Admin{Accounts: "admin", LoginPassWord: "E10ADC3949BA59ABBE56E057F20F883E", Date: time.Now()}
		err := adminCollection.InsertReturning(&a)
		fmt.Println(err)
		tools.CheckError(err)

error:upper: no more rows in this result set
can you help me?

[2017-07-02 12:03] xiam commented on #383
Hello @abcd3652460,

Does this table have a primary key?

[2017-07-02 15:59] abcd3652460 commented on #383
yes. primary key is ID.
but,i have other table.have this error too when i use InsertReturning method.
Insert method no throw error

[2017-07-02 17:14] xiam commented on #383
@abcd3652460 that should not happen, could you share your table structure with us? please. A `SHOW CREATE TABLE foo` would be fine.

Thanks

[2017-07-02 18:07] abcd3652460 commented on #383
CREATE TABLE `admin` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Accounts` varchar(255) DEFAULT '',
  `LoginPassWord` varchar(255) DEFAULT '',
  `Date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`ID`,`Date`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8

[2017-07-02 21:08] xiam commented on #383
Thanks for the additional data @abcd3652460,

The time value you're inserting into the `Date` column looks like `'2017-07-02 20:46:48.052999'`, which [gets rounded](https://dev.mysql.com/doc/refman/5.7/en/fractional-seconds.html) and saved as `2017-07-02 20:46:48`. When `InsertReturning` tries to grab this value back, this fails because the column matching `'2017-07-02 20:46:48.052999'` does not e

[2017-07-02 22:12] #380 closed

[2017-07-02 22:12] #381 closed

[2017-07-02 22:31] xiam commented on #383
Should be fixed now, please fix your TIMESTAMP definition, then `go get -u` your imports and try again.

[2017-07-02 22:31] #383 closed

[2017-07-03 07:00] abcd3652460 commented on #383
ok,thank you .

[2017-07-04 03:14] pkieltyka opened #388 "cockroachdb support"
We should add support for https://github.com/cockroachdb/cockroach via our existing postgresql work. Cockroachdb uses the postgres wire protocol, works with lib/pq, but also adds some of its own sql extensions.

[2017-07-12 16:46] sachinwalia2k8 opened #389 "Scope of Database Session variable"
I came across upper and love it the way it abstracts lot of DB specific operations. I have a question regarding the scope of Session variable created as follows:

[code]
Can you reuse this sess variable across multiple Http Calls or go-routines OR do you have to create this in every http handler func every time you need to access DB?

[2017-07-14 18:16] xiam commented on #389
Hello @sachinwalia2k8,

Good question, we should update our docs with that data. Yes, you can use `sess` anywhere in your program, a single `sess` per database will work just fine, even inside goroutines, etc. There's generally no need to close `sess` if you're running a long-lived program.

[2017-07-18 14:56] xiam opened #391 "postgresql: Support binary parameters + JSONB"

[2017-07-18 16:45] #389 closed

[2017-07-18 16:47] sachinwalia2k8 commented on #223
I think this would be a great feature specially for the cases where SQL query is complex and has lot of parameters.

[2017-07-20 13:18] Taik commented on #391
Would love to see this get pushed through; we're using pgbouncer in transaction pooling mode and have JSONB fields, so this is a must for us to move forward with upper/db.

Just pointing out a few issues that might be of use: https://github.com/lib/pq/issues/528, https://github.com/jmoiron/sqlx/pull/306. Let me know if I can help.

[2017-07-20 13:27] xiam commented on #391
Awesome @Taik, we're doing this for the same reason. Everything looks good so far but we haven't released a new tag yet.

Yes you can definitely help, could you try out this revision? `66c36402c59be5dbe70e58eb3fa0a1dc3f1cb173`

Do you have any `[]int64` or `[]string` or `jsonb` fields in your code?

[2017-07-20 13:34] Taik commented on #391
@xiam sounds like we're in the same boat :) Thanks for the commit.

Unfortunately our DB layer hasn't been swapped out to upper/db yet; I mostly just have one-off scripts to validate use cases (to test `[]string`, `jsonb` compatibility). I can test using those scripts, but it won't see any real traffic to know if things are working as intended.

Once I start porting things over to upper/db and let

[2017-07-20 13:35] xiam commented on #391
Oh yes, you just said you have jsonb stuff. Well, we're going to document more details for this but you'll need to change those types, see:

https://github.com/upper/db/pull/392/files#diff-3fcbf0b326e2f42d84a113090ebe3b40R215

You'll need to provide an `Valuer` and `Scanner` for all of them, this could be as easy as importing `upper.io/db.v3/postgresql` and using a couple of functions on your stru

[2017-07-20 14:16] VojtechVitek commented on #391
@xiam can we provide an embeddable type that would implement these two methods? Would that be possible?

[code]

[2017-07-20 14:20] xiam commented on #391
@VojtechVitek I've been trying to do that without any luck, the embedded type is not aware of the embedder when called. It would be nice not having to do that manually, hope we can find a trick soon.

[2017-07-20 14:45] VojtechVitek commented on #391
Right, that's a good point. The embedded type's receiver can't see outside of its scope. So it's not really doable.

[2017-07-20 16:05] xiam opened #394 "db: support partial updates via dirty-field tracking"
`Update()` sends all fields in the object, even those that didn't change, this could lead to inconsistencies if two UPDATEs are sent on the same object at the same time.

@c2h5oh already provided a nice idea on this one.

[2017-07-22 00:30] xiam commented on #391
Latest release already includes this change: https://github.com/upper/db/releases/tag/v3.3.0, closing.

[2017-07-22 00:30] #391 closed

[2017-07-22 00:30] #89 closed

[2017-07-22 06:40] MarcusMann opened #395 "How do I make One to Many?"
Thanks for contributing the Go community
Your code is very good and is helping me a lot.
But I have a question,

How do I make **_One to Many_**?

[code]
Yes I know the question was answered here: #349 But I can not understand.

[2017-07-24 15:00] VojtechVitek commented on #395
## Two simple queries (recommended)
1. Fetch Author.
2. Fetch Books.
3. Put the Books array into the Author object manually.

## JOIN query
1. Create a JOIN query
[code]

[2017-07-24 15:02] VojtechVitek commented on #89
@xiam can you pls provide us with all the examples, mentioned in https://github.com/upper/db/pull/379#issuecomment-316721280?

[2017-07-24 20:48] MarcusMann commented on #395
Thanks

[2017-07-24 20:48] #395 closed

[2017-08-12 15:22] pkieltyka commented on #394
btw, it would be great to hear a proposal for this, in how the implementation will work. I get wary of dirty-field tracking because that it'll slow performance, and add too much magic. Perhaps it could be a separate package built on top of upper similar to how `bond` is designed? but, whenever you guys work on this, would be great to discuss the approach

[2017-08-12 17:25] cmoad opened #399 "Left joins with inline and optional relationships?"
I've referred to https://tour.upper.io/sql-builder/02 but the example doesn't show how to deal with optional relationships / left joins.

In this made up example, a parent has zero or more children and a child has exactly one parent. (Don't question it. Just go with it.) I want a query that grabs all children for a specific parent.

[code]

I'll always get back one or more rows (assuming there is

[2017-08-12 21:05] xiam commented on #399
Hello @cmoad,

Can you try setting ParentID to `*int64`?:

[code]

That way you'll be able to have `nil` ParentIDs.

Also, this looks similar to the case you're trying to solve:

https://github.com/upper/db/pull/393

The proposal above would do the same with less code, the `omitempty` tag will work for optional embedded params and the relation will be preloaded automatically, what do you think of

[2017-08-12 21:29] cmoad commented on #399
I could but that would require dereferencing the pointer every time the variable is accessed. That isn't ideal and I was hoping for a more general purpose solution.

Sqlx supports embedding by prefixing each child relationship with a tag. E.g. `select p.id, c.id as "child.id", c.parent_id as "child.parent_id" from ...`. While this makes the query syntax more verbose, you can easily embed one model

[2017-08-21 19:42] fi0 opened #401 "postgres jsonb empty string"
when json.RawMessage is an empty string
Inserting a record will result in an error pq: invalid input syntax for type json
Is there an easy way to convert it to null instead of an empty string

[2017-08-30 01:44] xiam commented on #284
Closed by https://github.com/upper/db/pull/403

[2017-08-30 01:44] #284 closed

[2017-08-30 03:08] xiam commented on #401
Hey @fi0,

Not sure what your use case is, but do you need `json.RawMessage`? We have some examples here using Go types: https://github.com/upper/db/releases/tag/v3.4.0

Would be nice to see what your use case is.

[2017-09-02 01:24] sachinwalia2k8 commented on #388
+1. any plan for supporting this.

[2017-09-10 16:08] Xuanwo opened #408 "mysql: db.Cond build wrong sql while using uint8 slice"
I Used following code with latest upper db:

[code]

I wish to have the following sql:

[code]

But I got:

[code]

Which lead to a MySQL syntax error.

For more infomation, while I use int slice like: `[]int{1, 0}` , I got the correct sql like following:

[code]

Thanks for your help in advance.

[2017-09-20 16:25] xiam opened #409 "db: support for default TxOptions"

[2017-09-23 00:32] xiam commented on #409
Closed by https://github.com/upper/db/pull/410

[2017-09-23 00:32] #409 closed

[2017-09-24 23:54] #408 closed

[2017-09-24 23:55] xiam commented on #408
Hey @Xuanwo, thanks for your report, this was found and fixed and should be available on our next release.

[2017-09-25 01:13] Xuanwo commented on #408
@xiam Thanks for the fix !

[2017-10-03 13:44] jacklaaa89 opened #412 "Creating a transaction on a closed connection."
When creating a new transaction on a closed connection, a nil pointer reference is thrown.
obviously the example in my code is very trivial but it would be nice to have a way of knowing if the connection was closed, in-case close was called in another routine etc. As currently there is no `session.IsClosed()` method.

For example:
[code]

throws:

[code]

[2017-10-03 13:49] jacklaaa89 commented on #412
Addition to this, checking if the driver is not nil would seem to be an effective way to determine if the connection is closed i.e. `session.Driver() == nil`

[2017-10-03 16:44] VojtechVitek commented on #412
Duplicate of https://github.com/upper/db/issues/382

[2017-10-16 10:45] lunemec opened #413 "Mysql extended config"
Hi, I'm thinking about using this library, but I can't find anywhere how to get ot the mysql Config struct.
The upper/db config is very simple, but there seems to be no way of passing values to the driver.

The go-sql-driver/mysql has extensive configuration:
https://godoc.org/github.com/go-sql-driver/mysql#Config

How to set these values from upper/db?
Thank you.

[2017-11-02 19:08] hasyimibhar opened #415 "Disable caching"
Is there a way to disable caching completely? I don't want the database client to do the caching, as I already have a caching mechanism somewhere else. Right now I have to call `ClearCache` at the start of every HTTP request.

[2017-11-03 15:09] hasyimibhar commented on #415
Never mind, it's a mistake on my side, causing the client to appear to be caching.

[2017-11-03 15:09] #415 closed

[2017-11-05 02:22] Chillance opened #416 "List of Databases"
Hi!

First I must say that this is a really cool library. Doesn't seem too active, but at least it doesn't seem like a dead project yet. In my case I really like that it also includes MongoDB support. Makes for a very flexible library if I ever wanted to change to a SQL db.

Anyway, I was wondering if there is a way to extract all databases on a connection/session? It seems that I actually need to

[2017-11-06 13:47] pkieltyka commented on #416
Pardon? Doesn’t seem too active? It’s been actively maintained for 2 years and even now. Just so happens the library is quite stable, well tested and used in production

[2017-11-06 18:47] Chillance commented on #416
Oh, ok, well, great then.

[2017-11-28 04:27] mylanconnolly opened #419 "How to query JSONB values?"
I have a table that includes JSONB data that I'd like to query. For example, a JSONB value like:

[code]

I'd like to query  something like:

[code]

How I have been trying to do this is:

[code]

...but it quotes the whole expression to be like `"info->'demos'->>'last_name'"`, which triggers a column not found error, understandably. Is there a way to get around this?

Thanks!

## Edit

If this is

[2017-11-30 03:20] mylanconnolly commented on #419
Going to close this. Using sqlx and sqrl for now to keep momentum going. Might transition back to upper.io/db at some point if a solution is found

[2017-11-30 03:20] #419 closed

[2017-11-30 05:38] shilov commented on #419
You'd want to use `db.Raw` for that. For ex:

    query.Where(db.Raw(`name->>'last' ILIKE ?`, name.Last))

[2017-12-05 05:04] shilov opened #420 "Unexpected Behavior for OrderBy"
This might be by design but it felt unexpected..

    SelectFrom("table").OrderBy("created DESC NULLS LAST")

Translates into the following SQL:

    SELECT * FROM table ORDER BY created DESC

`NULLS LAST` is silently ignored.

I was able to get the desired behavior by using db.Raw, but it would be nicer if OrderBy made clear its intentions to only honor the first part of that string.

I'm using v

[2017-12-05 16:29] VojtechVitek commented on #420
`OrderBy("created DESC", "NULLS LAST")` ?

I'd expect error or something @xiam

[2017-12-06 14:47] ansrivas opened #421 "sqlite example is failing"
Hi,
I was trying to use the example from https://upper.io/db.v3/sqlite. Apparently it fails with an unmarshalling error for datetime column to go time.Time.

[code]
Is there something need to be changed in the example?

[2017-12-07 10:51] rinetd opened #422 "because of GWF cann't go get upper.io/db.v3/sqlite"
could replced by github.com/uppper/db/sqlite

[2017-12-08 06:14] fifsky commented on #422
suggest use  VPN or download upper.io/db.v3/sqlite to vendor/,  and commit your project git repo

[2017-12-15 19:00] VojtechVitek opened #424 "Import paths: Use github.com and drop the version?"
Proposal:
[code]

1. Drop the version from the import path. The versioning can be handled with Dependency Managers (https://github.com/golang/dep or similar).
2. Move the import paths to Github, as majority of Go open-source projects out there, so we don't need to rely on a custom domain being up and running on `go get`

Can we consider this at least for future releases, like Upper DB v4?

What do

[2017-12-20 23:55] l4u opened #425 "Reusing sql.DB"
When there's an existing sql.DB, is it possible to re-use it for creating a sqlbuilder.Database?

[2017-12-28 04:33] ibyxz opened #426 "mongo result.One() can't return "not found" error"
i use mongo driver to get one row data，when the data not exist，result error is nil。

`	var accounts model.Account
	err := sess.Collection(ColNameAccount).Find(db.Cond{"mobile": mobile}).One(&accounts)
	if err != nil {
		if err == mgo.ErrNotFound {
			return nil, nil
		}
		return nil, errors.InternalServerError(ErrIdAccountGet, "Service Error")
	}
`
I check the code in mongo/result.go, find  `func

[2018-01-02 04:56] elithrar commented on #425
* Yes, with the postgres adapter via `New`, which takes an `*sql.DB` - https://godoc.org/upper.io/db.v3/postgresql#New

Other adapters also have the same method.

[2018-01-02 09:03] l4u commented on #425
thank you @elithrar

[2018-01-02 09:03] #425 closed

[2018-01-07 21:52] xiam commented on #422
Sorry about that.

Could you try this?

[code]

[2018-01-07 22:08] xiam commented on #422
That's a good suggestion, @fifsky, we'd make sure we have it somewhere visible on our GH page.

[2018-01-08 00:49] highway900 opened #430 "Raw SQL sub query unpacking incorrectly (pq)"
### What is happening
The query below on my table containing Postgres XML type (seemingly) fails to unpack the values for the `IN` clause from the `[]interface {}{(*postgresql.StringArray)(0xc4202deba0)}` type.

This results is a query that returns nothing. If I manually add the values into the query from the array the query works fine. I also tested the string array unpack on the book tour exampl

[2018-01-08 01:24] highway900 commented on #430
Changing the query to use `ANY` instead of `IN` solves the problem. This makes sense since the `ANY` clause wants an array type passed to it. I did not know but `ANY` is apparently faster so in the end this is solved.

Is my string array supposed to unpack when suing raw queries? Or only for builder queries?

[2018-01-08 20:24] VojtechVitek commented on #422
Related: https://github.com/upper/db/issues/424

[2018-01-11 06:32] derkan commented on #388
Please check #414

[2018-01-17 11:18] Xivolkar opened #432 "RethinkDB support"
Any plan to add support for [RethinkDB](https://www.rethinkdb.com)?

[2018-01-25 07:41] AhmadMuzakkir opened #433 "Question: How to do "INSERT OR REPLACE" or "INSERT OR IGNORE" ?"
Basically, I could not figure out how to do a "INSERT OR REPLACE" or "INSERT OR IGNORE".

I could not find it on the documentation.

Can someone please help me.

Thanks.

[2018-01-25 09:14] AhmadMuzakkir commented on #433
I figured it out.

I use Amend() to modify the query.

[2018-01-25 09:14] #433 closed

[2018-02-05 10:18] arddor opened #434 "Panic when using sql.DB with sqlite3 and ql"
Hello,

I tried to pass a `*sql.DB` to the the `New()` functions of both sqlite3 and ql. In both cases this resulted in a panic: `panic: runtime error: invalid memory address or nil pointer dereference`.

Example:
[code]

[2018-02-08 12:17] melvinodsa opened #435 "Usage of Group"
How can I use Group function in the Result interface.
I have been trying like

    d.Collection("books").Find().Group("genre").All(&result)

But getting an empty result set result set is in the format []map[string]string

[2018-02-11 21:43] xiam commented on #408
@Xuanwo Please note that for recent versions the preferred way to do this will be using an explicit `db.In()` call:

[code]

[2018-02-11 21:55] xiam commented on #430
Hello @highway900,

If you're using an array of strings every element of that array should be expanded automatically. For instance `Where("name in ?", []string{"a", "b"})` should get expanded into `name in (?, ?)`

I believe you have extra parentheses `(?)` in your condition, try removing them.

If you want to see what's the generated SQL you can use the `UPPERIO_DB_DEBUG` env, like this:

[code]

[2018-02-17 06:18] Xuanwo commented on #408
@xiam Thanks for your tips, I will have a try.

[2018-02-19 07:21] camstuart opened #437 "MongoDB 3.6 features"
Can upper db handle change notification queries in mongo 3.6?

If so are there any examples about?

See: https://docs.mongodb.com/manual/changeStreams/

[2018-02-20 17:34] chiarag opened #438 "Broken link for MongoDB in Read me"
Hi All,

Looks like there is a broken link in the read me for Mongo.

https://upper.io/db.v3/mongodb

should be

https://upper.io/db.v3/mongo

[2018-03-09 19:12] sun7927 opened #439 "Can upper's mongo support mgo's EnsureIndex with combination of multi-fields in struct"
I found the current upper's mongo is using mgo lib to access mongo db. Can it support mgo's EnsureIndex?

[2018-03-17 15:13] hellais opened #440 "SQLite JSON1 support"
Similarly to how the postgresql adapter supports JSONB, it would be neat if there was similar support for sqlite3 and JSON1 (https://www.sqlite.org/json1.html).

Are there plans on adding support for this or would it be useful to have such custom_type be contributed to the library?

[2018-03-18 00:23] VojtechVitek commented on #440
There are no plans to add support for these, as far as I know. However, we accept community Pull Requests!

[2018-03-21 06:13] errashe opened #441 "Windows invalid URL escape panic"
panic: parse file://C:%5CUsers%5C*username*%5CDesktop%5Cq%5Cql.db: invalid URL escape "%5C"

Everything works well with default ql driver and library as well.

[code]

[2018-03-22 13:03] koblas opened #442 "db.Result.One() does not return db.ErrNoMoreRows for postgres"
Pull request  #431 resolved an issue with MongoDB returning ErrNoMoreRows. However, it is a very MongoDB specific fix. Other databases like postgres don't get the benefit.

In general One() should either return a record or db.ErrNoMoreRows

[2018-03-23 15:30] russtone opened #443 "Cursor("-id") generates an invalid query"
An instruction like:

[code]

Generates:

[code]

And also instruction like:

[code]

Generates:

[code]

[2018-03-23 18:09] dardoguidobono opened #445 "Performance: collections should be shared between transactions"
Hello:
I create several transactions per second and after that use the Collection method of the tx.
that triggers the PrimaryKey() and the sql to this method every time..

Can we just cache the collection Structs ?

Code snippet:

[code]

That outputs:

2018/03/23 15:02:07
	Session ID:     00001
	Query:          SELECT "pg_attribute"."attname" AS "pkey" FROM "pg_index", "pg_class", "pg_attribute"

[2018-03-25 09:44] russtone opened #446 "Using sqlbuilder.Paginator as subquery"
When I try to use pagination query as subquery:

[code]
I got following query:
[code]
and error:
[code]

[2018-04-02 14:35] russtone opened #448 "An empty slice becomes a nil slice after query.All(&slice)"
Example:
[code]
Ouput:
[code]

It is important for me because after marshaling result slice to json I get `null` instead of `[]`

[2018-04-05 15:50] zippoxer opened #450 "High memory usage on insert"
Hi,

First of all I love upper/db. The API is simple, concise and very Go-ish.

I'm benchmarking upper/db with PostgreSQL against other ORMs and even drivers to make sure I can adopt it in a large application.

From my findings, upper/db's selects are very efficient, but upper/db's inserts are slower and much more memory consuming than go-pg/pg (an ORM) and drivers like lib/pq and jackc/pgx.

Of c

[2018-04-30 19:13] ckome opened #451 "mssql update with identity id"
[code]

[code]

[code]

**ERRO[0011] mssql: Cannot update identity column 'id'.**

[2018-05-03 02:56] whisper-bye opened #452 "postgres notify support"
lib/pq is already support psql listen/notify

[2018-05-25 17:49] tcurdt opened #453 "collection creation"
From the docs it's unclear if one really has to manually create the table of the collection.
None of the examples (that I found) show the creation of a table.
At least sqlite does not just automatically create the table.
Would be good to have some more docs on this.

[2018-05-26 01:54] #443 closed

[2018-05-26 01:55] #446 closed

[2018-05-26 02:09] xiam commented on #450
This is pretty useful, thanks for putting it together @zippoxer. I started an effort towards measuring our own speed and improving it over time (see https://github.com/upper/db-bench) but I didn't follow up. Now that the API is getting more and more stable I think it's a good time to sit down again and think on how to make it more efficient. I'm going to allocate some time for this in the near fut

[2018-05-26 02:12] xiam commented on #453
Hello @tcurdt, upper/db does not create a collection automatically, you need to define your schema.

We're in the process of reviewing our docs and we'll definitely add an explanation for this.

[2018-05-26 02:12] #453 closed

[2018-05-26 02:17] xiam commented on #451
Hello @ckome,

Do you think you could add a failing test here? https://github.com/upper/db/blob/master/mssql/adapter_test.go

Including table creation, see this example for PostgreSQL: https://github.com/upper/db/blob/master/postgresql/adapter_test.go

Thanks,

[2018-05-26 02:18] #448 closed

[2018-05-26 02:36] xiam commented on #445
We used to cache collection columns, but that got us in trouble and we decided to remove that feature.

Imagine this scenario:

1. upper does some queries and caches table keys.
2. You run an ALTER TABLE query directly into your database, this modifies the primary key in some table. upper doesn't know about this.
3. upper tries to use the cached keys (which are now invalid because you altered the

[2018-05-26 18:36] zippoxer commented on #450
@xiam Great! Glad I could help.

[2018-06-21 15:15] pxue opened #454 "Selector SetColumns kept private"
Hey @xiam hope everything's well!

I've a quick questions regarding [setColumns](https://github.com/upper/db/blob/master/lib/sqlbuilder/select.go#L158). Was there a design reason in keeping this method private? I would like to have it exposed on the interface so I can manually do something similar to the paginator, ie `someSelector.setColumns("count(1) _t")`

Thanks!

[2018-06-22 00:55] davars commented on #445
In other environments (thinking of rails and sqlalchemy here), migrations are run out-of-band from the client application, and the assumption is that the client will either be down during migrations or the migrations will be compatible with running apps, which will be rolling-restarted soon after the migrations run.  Sacrificing everyday performance for safety during deployments doesn't seem like

[2018-07-06 13:42] uynap opened #455 "Does the upper.io/db.v3/lib/sqlbuilder support Postgres's "$1" placeholder?"
Would someone be able to direct me to the documents or give me a definite answer for this question?
I would like to build the exact SQL below:
[code]
Thanks in advance.

[2018-07-07 12:45] xiam commented on #455
Hi @uynap, this should not be a problem, you can use `$n` or a list of `?` placeholders too.

[2018-07-07 12:48] xiam commented on #454
Hellooo @pxue :)!

Is this because, in this case, you'd like the query to forget all the previously set columns and use new ones?

[2018-07-10 13:57] pxue commented on #454
hey @xiam

yes that's exactly it.

for example i would like to modify some original query and replace the select with a count total.

[code]

Would be more than happy to submit a PR :)

[2018-07-27 03:58] quytangvn opened #457 "Will you support any cache layer on top of it?"
The library is awesome and give insight to me.
However, I am concerned about the caching problem and fine tune for caching.

I wonder if there are any libraries to support db on caching or do you have any plans for that?

Thanks again for the awesome work!

[2018-07-27 15:02] Strum355 opened #458 "Confusion with MarshalDB and UnmarshalDB"
I may have completely missed the place where this is mentioned, however it took me a while to discover (by trial and error) how to implement MarshalDB() and UnmarshalDB() for custom structs.
I discovered that MarshalDB has to have a value receiver while UnmarshalDB has to have a pointer receiver if the struct field is not a pointer. Is this correct?

On that note, it might be worth providing some

[2018-07-30 06:21] quytangvn commented on #457
@VojtechVitek caching for data.
Something similar to https://cache-machine.readthedocs.io/en/latest/
I find it's awesome in Django world. I wonder if upperdb supports these caching features.

[2018-07-30 14:54] VojtechVitek commented on #457
I don't think we'd ever cache data explicitly. Upper DB is not an ORM.

However, you can build "stores" on top of Upper DB and use cache of your choice explicitly, ie. Redis.

[2018-08-07 10:25] sjqzhang opened #459 "sqlbuilder support mongo?"
sqlbuilder  support mongo?

[2018-08-24 23:48] alancasagrande commented on #430
@xiam  This issue is happening only for raw queries. The query builder is working.

It looks like `[]string` is converted to `mysql.JSON` before the query is expanded. My raw queries that use `IN ?` stopped compiling after I upgraded from a older version.

Before upgrade:
![screen shot 2018-08-24 at 20 44 30](https://user-images.githubusercontent.com/893649/44612384-88881c80-a7de-11e8-8f3d-4f300d4

[2018-09-05 01:23] erichulburd opened #461 "nil pointer exception after calling operation on closed transactions"
To replicate:

* Create a transaction.
* Begin and Commit the transaction. Then call close.
* Call exec on the transaction. You will see a stacktrace along the lines of:

[code]

For instance:

[code]

_The above is a quick gist. LMK if this doesn't exactly replicate and I will come up with something._

This error is a bit cryptic and I spent a few hours debugging it today. Would you be open to a

[2018-09-06 13:31] hellais opened #462 "Support for JSON custom type in SQLite"
I see that work has been done to add support for the JSON type in the MySQL driver (https://github.com/upper/db/pull/406) and it would be awesome if SQLite were to have similar support.

Given that currently there doesn't seem to be support for it in SQLite, what would be the best way to deal with JSON SQLite columns when defining the models?

Is the best practice to use `string` and then "manuall

[2018-09-21 04:48] VojtechVitek opened #463 "https://upper.io/db.v3 is down"
The website is down. The import paths are down too.

Related: #424

[2018-09-21 06:27] digitalysin commented on #463
nah .... unable to read metadata: unable to fetch raw metadata: failed HTTP request to URL "http://upper.io/db.v3?go-get=1": Get http://upper.io/db.v3?go-get=1: dial tcp 162.243.63.194:80: i/o timeout